[2011-09-14 08:38] user2589 opened #1 "pypi package misses static folder"
Also, it includes sample project files which should not be part of distro

[2011-09-14 14:15] #1 closed, assigned to nobody

[2011-09-26 13:31] itbabu opened #4 "GenericTabularInline and GenericStackedInline?"
hi
I'm trying to make GenericTabularInline and GenericStackedInline working with your app.

so i've brutally  wrote these lines "black box" thinking ... (in django admin the template for GenericTabularInline and TabularInline  is the same)

[code]

But i've a TemplateSyntaxError:

the only thing that doesn't seems to  work is this url:

[code]

any suggestions?
Now I am now looking into your admin

[2011-12-05 15:58] mwarkentin opened #5 "Change order admin view resets order each time"
This app is working great for me, except for one pretty large issue - each time I go to change the order of an object, the objects don't retain their sorting. This means I have to sort the entire collection each time I want to change something.

I've recorded a quick screencast showing the issue here: http://cl.ly/2l0a1u0E393C2W2k0O0O

This is occurring on both 1.0.9 and 1.2.

[2012-01-11 22:26] #4 closed, assigned to nobody

[2012-01-11 22:26] #5 closed, assigned to nobody

[2012-01-26 20:52] tobych opened #6 "Not able to drag and drop despite being told I can"
I'm using SortableTabularInline. I see "drag and drop to change order" but can't spot anything to drag.

What might be going wrong? I've used this class successfully elsewhere.

[2012-03-18 12:56] DXist opened #7 "Can't disable JQuery in javascript_includes.html"
There is not way to disable jquery shipped in javascript_includes.html template.

JQuery is used almost in every project. It can be used by custom fields in admin interface. Second JQuery may overwrite the namespace of the first one and create promlems.

IMHO it's better to include JQuery in admin media and provide a way not to include JQuery in the template.

[2012-03-18 14:22] #7 closed, assigned to nobody

[2012-05-04 21:00] joshkersey opened #9 "Inline Only Sort"
In working with adminsortable for a current project I came across a point that may need clarification in the docs.  I have two models...GalleryAlbum and GalleryImage.  GalleryImage holds a foreign key to GalleryAlbum.  In the admin GalleryImage is a TabularInline of GalleryAlbum.

In order to get SortableTabularInline working for GalleryImage I also had to add SortableAdmin to the GalleryAlbum.

[

[2012-06-07 13:51] #6 closed, assigned to nobody

[2012-06-25 13:15] runekaagaard opened #10 "SortableInline breaks when "extra=0""
This works:

[code]

This dont:

[code]

Thanks for a great app!

[2012-07-10 12:22] #10 closed, assigned to nobody

[2012-09-13 23:42] mkoistinen opened #11 "Sorting isn't available on SortableAdmin until I create a new object"
Hi,

Firstly, great project! Thanks for working on it and providing it to the community!

I'm using Django 1.4.1 on Python2.7.  I've implemented your instructions as accurately as possible and the end result is that it works!... well, sort of.

SortableAdmins work great, but only after I first create a new object/row (which I can then delete).  The weirdest thing is, if I restart the server, I los

[2012-09-14 00:00] #11 closed, assigned to nobody

[2012-09-14 06:03] Meenakshiithape opened #12 "Error in admin_do_sorting"
Hello,
I am using django-admin-sortable with grappelli, i got the error as
"Reverse for 'admin_do_sorting' with arguments '(175L,)' and keyword arguments '{}' not found".

The error message shows that error in stacked.html file on below .
<input type="hidden" name="admin_sorting_url" value="{% url admin:admin_do_sorting inline_admin_form.original.model_type_id %}" />

I follow all the steps, admin

[2012-09-24 12:15] alesasnouski opened #14 "Unable to sort in more than one project application."
Hi !
Changed sample project , added myapp application which is a slightly changed copy of app application. Go to change object page in both app and compare links in li elements : they are the same.

So `admin_do_sorting` url doesn't take in consideration application name - it will be the same for ALL applications!

See https://github.com/BlindHunter/django-admin-sortable/commit/1c2964c566e8c0573c5

[2012-09-29 17:53] rob-b opened #15 "You're not correctly handling IndexError"
https://github.com/btaylordesign/django-admin-sortable/blob/master/adminsortable/models.py#L45

The above code doesn't catch both TypeError and IndexError, it catches TypeError and assigns the exception to a variable named IndexError. To target more than one exception you need to explicitly group those exceptions with parenthesis

[code]

[2012-10-01 01:45] #15 closed, assigned to nobody

[2012-10-01 01:46] #14 closed, assigned to nobody

[2012-10-01 01:48] #12 closed, assigned to nobody

[2012-10-04 07:51] alesasnouski opened #16 "admin: change_view method signature changed in Django 1.4"
form_url kwarg added.
So probably change_view method should be updated.

[2012-10-24 19:35] treyhunner opened #17 "Sortable many to many field"
I don't see a sortable many-to-many field in the documentation.

I am already using this project for some foreign key fields and have a need for a sortable many-to-many field.

Would this be a desirable feature for this project?

[2012-12-09 05:15] xleon opened #21 "I can´t see sortable options anywhere"
Hi, I added "adminsortable" to installed apps, and I can´t see any sortable options anywhere or drag&drop. I don´t know what I´m doing wrong. I´m using django 1.4 and I get no errors. I realized no javascript or css related to adminsortable is loaded. This is my model:

[code]

I also tried with `python admin.site.register(Work, WorkAdmin)` but I still get nothing

Any ideas?

[2012-12-10 01:03] #21 closed, assigned to nobody

[2013-01-05 23:26] evildmp opened #24 "Inlines in django CMS plugins/iframes"
Inlines in django CMS plugins don't seem to be sortable. I don't really understand JS, but I think it is because a plugin in a placeholder opens its admin in an iframe. Having  a look at that iframe, it seems to lack the <script type="text/javascript" src="/static/cms/js/libs/jquery.ui.sortable.js"></script> reference that the containing page has.

[2013-01-08 17:42] sbussetti opened #25 "adminsortable.admin.SortableAdmin ignores self.queryset"
SortableAdmin queries using self.model.objects, however it should be using  self.queryset(request) to retrieve the queryset from the admin.

Not doing this violates the ModelAdmin pattern which expects that the queryset can be filtered on request, or whatever else the developer may be doing in an overridden  ModelAdmin.queryset.

This has been Django's default behavior since Django 1.1 so it shoul

[2013-02-16 05:23] kabirkukreti opened #27 "CSS issue with grappelli"
There is a CSS issue, when django-admin-sortable workis in conjunction with grappelli.The table header seems to have been displaced.

Please check the following picture for clarity:
http://imageshack.us/photo/my-images/163/displayissue.png/

[2013-02-17 16:36] #27 closed, assigned to nobody

[2013-03-15 13:02] Hedde opened #31 "Support sortable inlines while keeping parent immutable (a non sortable model)"
In addition to the discussion in #30 this ticket arose. I added a patch as a quick fix. Downside, the inline's model has to be registered to the admin.

[code]

[2013-03-15 13:05] #31 closed, assigned to nobody

[2013-04-26 21:33] alp82 opened #33 "Incompatibility with Django 1.5: url syntax changed"
I have installed and configured the plugin. I also added the schema- and data-migration with South. But when i click on "change order" in the admin i get the following error:

"The syntax of 'url' changed in Django 1.5, see the docs."

Here is the detailed message (Line 6 is the problem):

[code]

[2013-04-27 17:12] #33 closed, assigned to nobody

[2013-04-27 17:12] #24 closed, assigned to nobody

[2013-04-27 17:13] #16 closed, assigned to nobody

[2013-04-27 17:13] #9 closed, assigned to nobody

[2013-04-28 02:59] #25 closed, assigned to nobody

[2013-04-30 08:58] gotlium opened #34 "Problem with non-ascii characters"
Traceback:
File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/django/core/handlers/base.py" in get_response
1.                         response = callback(request, _callback_args, *_callback_kwargs)
   File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/django/utils/decorators.py" in _wrapped_view
2.                     response = vi

[2013-04-30 12:37] #34 closed, assigned to nobody

[2013-05-04 11:11] kidni opened #35 "SortableStackedInline diables checking of "Delete" checkbox on the inline."
Django==1.5
django-admin-sortable==1.4.6

from adminsortable.admin import SortableAdmin, SortableStackedInline

class QualificationInline(SortableStackedInline):
    model = Qualification
    extra = 1

class StaffAdmin(SortableAdmin):
inlines = [QualificationInline]

admin.site.register(Staff, StaffAdmin)

![screen shot 2013-05-04 at 12 10 53](https://f.cloud.github.com/assets/55073/462398/6709f9

[2013-05-04 19:05] #35 closed, assigned to nobody

[2013-05-07 14:09] roxeteer opened #36 "Django-admin-sortable missing from PyPI"
All versions of django-admin-sortable have disappeared from PyPI: https://pypi.python.org/simple/django-admin-sortable/

Can you fix this as soon as possible?

[2013-05-07 14:24] #36 closed, assigned to nobody

[2013-05-29 14:29] treyhunner opened #40 "Remove URLs from PyPI per PEP 438"
Problem discovered using [pep438](https://github.com/treyhunner/pep438) tool:

[code]

Page showing extra links: http://pypi-externals.caremad.io/django-admin-sortable/

[2013-06-05 08:28] andreyshipilov opened #41 "Ordering page restyle"
Hi there.
I'm using this great app. Thanks for it.
Was just wondering are you happy with current look of it on the "Change order" page?
I'm basically not and would love to change it, and can do it.
Would you be interested in that? Just so that the ordering page would look a bit more.. humane?

[2013-06-12 17:08] verganis opened #43 "Ordering not working for Inline objects"
Hello,
I installed d-a-s to deal with the following situation: I have blog posts which are composed by slots. Every post can have many slots. I need this slots to be sortable in the admin panel.

In the admin panel I can see my post and post slots but there is no drag and drop feature working. Jquery is included and I followed your instructions step by step. Any idea?
# models.py

[code]
# admin.p

[2013-06-28 08:21] unusorin opened #45 "'str' object has no attribute 'render_js'"
Hi,
I've installed this into mezzanine. It works great with StackedInline but when I'm trying to sort a table I get the following error:

[code]

Any ideas on how to fix this ?

Regards.

[2013-07-02 14:15] #45 closed, assigned to nobody

[2013-07-12 18:42] aemb87 opened #46 "'int' object has no attribute '_meta'"
In template adminsortable\edit_inline\stacked.html, error at line 20

specifically in this line:

[code]

If in admin.py i use admin.StackedInline instead of SortableStackedInline it works but it's not sortble

models.py

[code]

admin.py

[code]

Any help would be appreciated, thanks

Andrés

[2013-07-16 16:16] #43 closed, assigned to nobody

[2013-07-17 06:40] eressler opened #47 "Template Syntax Error: Invalid template name in 'extends' tag"
Hello,
I have a model that extends the Sortable model and the admin extends SortableAdmin

Everything works as intended about half the time, but other times I get this error with the admin sortable template when I click to add a new sortable object or edit an existing object:

Invalid template name in 'extends' tag: ''. Got this from the 'change_form_template_extends' variable

1   **{% extends ch

[2013-07-17 17:07] #47 closed, assigned to nobody

[2013-07-19 01:37] marcelometal opened #48 "Add tags for each release"
Could you please add tags for each release? Cheers!

[2013-07-19 13:31] #48 closed, assigned to nobody

[2013-08-22 16:13] #46 closed, assigned to nobody

[2013-08-22 16:14] #41 closed, assigned to nobody

[2013-08-22 16:15] #40 closed, assigned to nobody

[2013-08-23 04:34] litchfield opened #52 "Sortable inlines don't work- unless parent model is sortable?"
I added the Media to the parent admin as directed, but it still didn't work.

It tries to call do_sorting_view, but the inlines don't seem to inherit that view nor the get_urls method.

[2013-09-04 20:30] dokterbob opened #56 "Consider Django's integrated jQuery"
Rather than pulling it from the web, perhaps we should use the jQuery coming with Django's admin.

[2013-09-05 17:56] #56 closed, assigned to nobody

[2013-10-07 14:47] Alex-Sichkar opened #57 "Example from the doc"
The example from the doc doesn't work for me (if parent model isn't inherited from Sortable):

[code]

Are you sure the code above should work?

[2013-11-08 03:04] wilburb opened #60 "icon_calendar.gif and icon_clock.gif urls built out of order"
When using Amazon S3 storage, boto, and django-storages the urls are built with the file name after the added amazon expiry/key/etc information.

[code]

They should look like this.

[code]

I looked at django-admin-sortable code and found it is re-initializing with javascript, but I'm not sure specifically how/why/what it is doing so I'm a little unsure how to fix this. If you have any suggestion

[2013-11-09 22:08] #60 closed, assigned to nobody

[2013-11-11 14:21] samwillis opened #61 "Incompatible with Django version 1.6"
Dango has moved to version 1.9 of JQuery, this removed the $.browser object. The version of JQuery UI in admin-sortable seems to use the $.browser.msie object and so throws an error:

  Uncaught TypeError: Cannot read property 'msie' of undefined

[2013-11-23 14:36] #52 closed, assigned to nobody

[2013-11-23 14:36] #57 closed, assigned to nobody

[2013-11-23 14:37] #61 closed, assigned to nobody

[2013-11-25 10:04] Proper-Job opened #63 "adminsortable/change_form.html references non-existent javascript file"
Hi there

Thanks for the great work.
I noticed while running the sample that the adminsortable/templates/adminsortable/change_form.html template references the adminsortable/js/jquery-ui.js file in line 11.
That file is however not present in adminsortable/static/adminsortable/js

Am I doing something wrong?

Thank you and greetings
Moritz

[2013-11-25 11:29] Proper-Job opened #64 "MultiValueDictKeyError on Django 1.6 change form"
Saving changes with sortable stacked admin inlines creates a MultiValueDictKeyError error in Django 1.6:

Models.py

[code]

Admin.py

[code]

Error

[code]

[2013-11-26 02:34] #63 closed, assigned to nobody

[2013-11-26 03:10] #64 closed, assigned to nobody

[2013-11-29 08:46] QueDificil opened #65 "Problem 'admin_do_sorting'"
Hi
I have a problem usin sortable:
Reverse for 'admin_do_sorting' with arguments '(45,)' and keyword arguments '{}' not found. 0 pattern(s) tried: []

I saw someone here with the same problem but didn't see how fix it

I'm really new in django.
Could you help me ?

[2013-12-03 09:28] Proper-Job opened #67 "New stacked-1.5.x.html and tabular-1.5.x.html templates are missing from the repository"
Hi Brandon

It seems you forgot to add the new templates you added in version 1.6.2 to the repository.
They are available through pip but missing in the git repository.
Could you have a look?

Thank you and greetings
Moritz

[2013-12-03 11:33] jneves opened #69 "JS is not loaded if a page has only generic inlines"

[2013-12-03 11:37] #69 closed, assigned to nobody

[2013-12-03 12:32] #67 closed, assigned to nobody

[2013-12-05 02:47] yangxu opened #71 "Can I make ManyToManyField?"
# models.py

[code]
# admin.py

[code]

Is there any way I can create something like this?
![untitled](https://f.cloud.github.com/assets/1759978/1679641/630d82a0-5d57-11e3-8045-7c3848356d8c.png)

[2013-12-05 03:04] #71 closed, assigned to nobody

[2014-01-07 01:45] #65 closed, assigned to nobody

[2014-01-13 14:36] Alex-Sichkar opened #74 "Item highlighting after sorting is broken?"
There are problems in "jquery-ui-django-admin.min.js".
I got js errors:
Uncaught TypeError: Cannot set property 'backgroundColor' of undefined
Uncaught TypeError: Object #<Object> has no method 'effect'

[2014-01-25 11:28] igloox opened #75 "Clarify sorting foreign key objects"
According to the docs, this is how you apply sortable to the 'many' end of a one-to-many relationship:

[code]

What this doesn't mention, is because the Category ModelAdmin has to be `Sortable`, the Category model has to have an `order` field, otherwise an error is thrown.

[2014-02-05 13:23] #74 closed, assigned to nobody

[2014-04-08 11:53] #75 closed, assigned to nobody

[2014-06-19 14:43] hwkns opened #83 "Python 3 support"
Does django-admin-sortable support Python 3?

If so, it would be nice to designate that on PyPI using `classifiers` in setup.py (see https://pypi.python.org/pypi?%3Aaction=list_classifiers)

If not, what does the path forward look like?

[2014-07-27 10:17] rhymes opened #85 "How to proceed with an existing order field"
Hello, I have a bunch of models using a custom "order" field and I'd like to start using django-admin-sortable, what's the best approach? The README deals with existing models with no order field, but what about existing models with an existing order field?

My field is simply: order = models.IntegerField(default=0) and it's valued by the user in the admin.

Any ideas? Shall I rename this field, i

[2014-08-04 02:51] krisfields opened #86 "Add another button is missing with SortableTabularInline"
A couple of issues using SortableTabularInline:
Add another button is missing.

There's always 1 more inline field than I set with the extra parameter.  But anything entered into the 'bonus' field is discarded when saving.  My workaround is to set extra to a high number but that's not ideal.

The width of select boxes (for ForeignKeys) can get ridiculously long and there doesn't seem to be any way

[2014-08-20 17:27] #85 closed, assigned to nobody

[2014-08-21 17:48] wilburb opened #87 "reverse for 'myapp_mymodel_change' not found 0 patterns tried django 1.6"
I am working on upgrading from django 1.5 to 1.6 and am currently hitting problems that appear to be related to django-admin-sortable.

[code]

Originating at the template

[code]

Is there something more I have to do to successfully get admin-sortable to work under 1.6 or am I missing something else outside of admin-sortable?

Thanks.

[2014-09-05 19:58] reverie opened #89 "Add 'get_next' and 'get_previous' instance methods"
A nice to have feature would be 'get_next' and 'get_prev' instance methods. These would have behavior similar to Django's built-in [get_next/prev_by_FOO](https://docs.djangoproject.com/en/1.7/ref/models/instances/#django.db.models.Model.get_next_by_FOO) methods, but operating on the model's sorting field instead.

[2014-09-06 23:13] #89 closed, assigned to nobody

[2014-09-07 00:36] #83 closed, assigned to nobody

[2014-09-18 03:18] #87 closed, assigned to nobody

[2014-09-18 12:59] #86 closed, assigned to nobody

[2014-10-02 17:24] reverie opened #92 "SortableInlineBase.queryset method should be renamed get_queryset for Django 1.8"
django-admin-sortable raises a `RemovedInDjango18Warning` as of Django 1.7

[2014-10-06 13:14] #92 closed, assigned to nobody

[2014-10-23 13:49] gompster opened #93 "Sorting relative to a parent that is not sortable gives an error"
I don't want to work with inlines, as they tend to get too big. Therefore I defined two separate admins: a non-sortable Report admin and a sortable Chapter admin which should sort relative to the parent Report object.

When I try to change the order of the Chapter model by clicking on the 'Change Order' button on the top right of the Chapter admin page, the following error message is triggered:

[

[2014-10-25 00:46] #93 closed, assigned to alsoicode

[2014-11-08 13:02] m30m opened #94 "SortableInline not working"
I copied the example from the readme file exactly but it still doesn't work.
In the browser the hand icon appears when I hover over the rows but moving them doesn't work.
There is also an error in the console:
Uncaught TypeError: undefined is not a function : admin.sortable.stacked.inlines.js:9

[2014-11-10 09:46] jaap3 opened #95 "'super' object has no attribute 'get_queryset'"
I'm getting this error with adminsortable 1.7.5 and Django 1.5.11. Probably caused by the fixes you did for issue #92, 1.7.4 works fine

[2014-11-10 10:07] #95 closed, assigned to nobody

[2014-11-22 10:33] #94 closed, assigned to nobody

[2015-01-21 09:24] jrief commented on #85
I had the same problem and therefore rewrote this module taking a different approach.
You can find it here:
https://github.com/jrief/django-admin-sortable2

[2015-03-18 18:54] mrafieee commented on #64
got same problem dude, thanks for help

[2015-04-02 12:56] kpachnis opened #104 "Django 1.8 admin AttributeError exception"
Hi,

In Django 1.8 admin, if the `queryset` method is not implemented, a `AttributeError` exception is raised with the following message:

`'MyModelAdmin' object has no attribute 'queryset'`

A workaround is to always implement the queryset method. For example:

[code]

[2015-04-02 13:03] alsoicode commented on #104
pull requests are always welcome

[2015-04-02 14:48] kpachnis commented on #104
I just made that pull request you mentioned :).

Is tested only against Django 1.8.

I hope that this will do.

[2015-04-02 15:22] alsoicode commented on #104
Thanks. I'll get it pulled down and run tests against it.

On Thu, Apr 2, 2015 at 10:48 AM, Konstantinos Pachnis <
notifications@github.com> wrote:

[2015-04-07 17:09] Megido6 opened #106 "Uncaught ReferenceError: django is not defined"
error in adminsortable.js in last line
...})(django.jQuery);

how to fix it? i use now django 1.4.5

[2015-04-08 13:46] alsoicode commented on #106
If you're using a version of Django that old, you need to use django-admin-sortable v1.4.9 or below. The latest version is not compatible with Django 1.4.x

[2015-04-08 13:56] Megido6 commented on #106
right i use old version of sortable, but static not different

[2015-04-08 14:01] alsoicode commented on #106
I'll have to fire up a virtualenv with 1.4.5 and see what's up.

[2015-04-09 02:20] alsoicode commented on #104
Just released 1.8.3 to address Django 1.8 issues.

[2015-04-09 02:20] #104 closed

[2015-04-09 06:44] kpachnis commented on #104
Thanks

[2015-06-08 13:13] alsoicode commented on #106
Is this still an issue? If not I'd like to close this.

[2015-06-10 20:48] #106 closed

[2015-06-21 16:42] andybak opened #107 "Split non-db field parts of Sortable out into a mixin"
Unless I've missed something I can't see much else in Sortable that would require it to be anything other than a mix-in. Ideally even the name of the ordering field could be configurable (via a 'get_sort_field' method?)

A mix-in would be less intrusive to add to existing models - especially those that already have their own ordering field.

[2015-06-21 16:53] jrief commented on #107
That's one of the reasons I rewrote it, see here https://github.com/jrief/django-admin-sortable2

[2015-06-21 17:27] andybak commented on #107
Great. I've got a question or two but I'll post an issue on your repo.

[2015-06-22 13:57] alsoicode commented on #107
The `Sortable` model is already an abstract class, and I could make the ordering field configurable... what else would need to change for it to be considered a "mixin" ?

[2015-06-22 18:22] andybak commented on #107
That's probably all. Maybe have two classes though - SortableMixin without a db field and maybe BaseSortable that inherits the mixin and adds the field for people that don't already have one

[2015-06-22 18:24] alsoicode commented on #107
I can see that. I guess I could leave the `Sortable` class as is for backwards compatibility, and have a new `SortableMixin` that doesn't have the built-in field.

[2015-06-30 01:49] dvkovner opened #108 "Bug in get_previous() method"
Hello! Method get_previous() in Sortable class always return first value of queryset. I think that is related with this part of  _filter_objects() method in Sortable class:

        try:
            obj = self.__class__.objects.filter(**filters)[:1][0]
        except IndexError:
            obj = None

P.S. Sorry for my English :)

[2015-06-30 02:10] alsoicode commented on #108
Hello. `.filter()` returns a queryset, so `[:1][0]` just limits the queryset to one item and returns it. The `**filters` key value arguments are passed in [here](https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/models.py#L89) for `get_next()` and [here](https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/models.py#L93) for `get_pre

[2015-06-30 02:59] dvkovner commented on #108
I have two models inherited from Sortable class: Page and Record. Page model contains ForeignKey to Record. If i call get_previous() method of any of Record objects without any parameters, then i always get first record object (not previous). Is it normal?

class Record(Sortable):
    """
    Запись в книге почетных гостей
    """
    class Meta(Sortable.Meta):
        verbose_name = u'Запись'

[2015-06-30 03:47] alsoicode commented on #108
That certainly doesn't sound correct. Can you show me how you're calling `.get_previous()`? I've refactored the [unit tests](https://github.com/iambrandontaylor/django-admin-sortable/blob/master/sample_project/app/tests.py#L170) for get next/previous to be more robust and they are passing for me.

[2015-06-30 04:03] dvkovner commented on #108
[code]

get_next() is working properly. get_previous() always return first record.

[2015-06-30 12:07] alsoicode commented on #108
Can you give me a sample of the data? Keep in mind that if you have a SortableForeignKey field, the next/previous record will be returned relative to the SortableForeignKey. See: https://github.com/iambrandontaylor/django-admin-sortable#model-instance-methods for an explanation of which records will be returned for a sample data set.

[2015-07-01 00:40] dvkovner commented on #108
I have sent the database to that address: alsoicode@gmail.com.

[2015-07-01 15:09] alsoicode commented on #108
I created a new project using Django 1.8 and SQLite3. I removed the Cryllic portions of the code for simplicity and set up an app called "books" with the following models:

    from django.db import models
    from adminsortable.models import Sortable, SortableForeignKey

    class Record(Sortable):

        class Meta(Sortable.Meta):
            pass

        author = models.CharField(max_length=

[2015-07-06 03:14] alsoicode commented on #108
I stand corrected. The bug was staring me right in my output! I have pushed version 1.8.4 to PyPi which includes a fix for `get_previous`. Thanks for reporting this problem.

[2015-07-06 03:14] #108 closed

[2015-07-06 03:27] dvkovner commented on #108
Hello! Sorry, I was busy working on the project and could not answer quickly. Indeed, the bug was obvious. :) Glad I could help you.

[2015-07-06 03:29] alsoicode commented on #108
No worries. Sorry it took me so long to get that fixed! What a stupid
problem to have in the code in the first place; I must be getting old.

Best,
Brandon

On Sun, Jul 5, 2015 at 11:27 PM, dvkovner <notifications@github.com> wrote:

[2015-08-24 01:22] alsoicode commented on #107
Actually found some time to work on this, finally. So far things are going well.

[2015-08-24 13:25] alsoicode commented on #107
@andybak The new unobtrusive branch: https://github.com/iambrandontaylor/django-admin-sortable/tree/unobtrusive

I haven't run this through Travis yet, but I don't anticipate any issues. Now Sortable doesn't automatically define any model fields or ordering. You can name the ordering field anything you want, as long as it derives from one of Django ORM's integer types. You just have to tell the So

[2015-08-24 17:11] alsoicode commented on #107
2.0.0 has been released on PyPi.

[2015-08-24 17:11] #107 closed

[2015-10-13 16:04] jorge-marques opened #109 "show_change_link attribute has no effect on sortable inlines"
Django 1.8 added a show_change_link option to inlines, but django-admin-sortable does not seem to take this into account.

[2015-10-13 16:16] jrief commented on #109
Is this a show blocker for Django-1.8.
Due to external constraints I'm still working with 1.7, so I'm not aware of these news.
Do you want to send a PR?

[2015-10-13 16:22] jorge-marques commented on #109
The option adds a link to the change view of the object.
Here’s the relevant documentation, for reference:
https://docs.djangoproject.com/en/1.8/ref/contrib/admin/#django.contrib.admin.InlineModelAdmin.show_change_link <https://docs.djangoproject.com/en/1.8/ref/contrib/admin/#django.contrib.admin.InlineModelAdmin.show_change_link>

Yes, I can give it a try.

[2015-10-13 16:49] alsoicode commented on #109
I'm currently slammed on other work. If you would be so kind as to provide a PR, I can review it asap.

[2015-10-13 18:05] jorge-marques commented on #109
It's now working, although I haven't updated the sample application to demonstrate this capability. Not sure if it's worth it.

[2015-10-13 18:06] alsoicode commented on #109
The sample app imports the working copy of adminsortable in the repo, so you don't have to update it. It should draw in the changes automatically.

[2015-10-13 18:08] jorge-marques commented on #109
I meant adding an example with the show_change_link option enabled. Anyway, hope you can merge this when you have some time :)

[2015-10-13 18:09] alsoicode commented on #109
Ah. All that would be required is to create a virtualenv with Django 1.8 installed and then run the sample app.

[2015-10-16 13:04] #109 closed

[2015-11-18 11:13] cho-is opened #114 "SortableStackedInline with collapse class in fieldsets adds empty divs when drop"
![screen shot 2015-11-18 at 11 13 58](https://cloud.githubusercontent.com/assets/4965837/11239683/608d7876-8de5-11e5-8d8c-2c1ae3ecae6b.png)

[code]

[2015-11-18 11:18] cho-is commented on #114
It needs to check if `collapse` class is there so then it does not add `display: block;` on `form-row` classes

I will try and see if I can find a solution for it

[2015-11-18 11:37] cho-is commented on #114
Solved this by changing the following line in [admin.sortable.stacked.inlines.js](https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/static/adminsortable/js/admin.sortable.stacked.inlines.js#L43)

to
[code]

[2015-11-18 11:39] alsoicode commented on #114
Cool. Open a pull request please.

[2015-11-18 11:41] cho-is commented on #114
Please notice this will just highlight the h3 title which I think is enough for a visual feedback

[2015-11-18 12:46] alsoicode commented on #114
After some investigation, I've come up with an alternative fix:

    ui.item.find('.form-row').effect('highlight', {}, 1000).removeAttr('style');

which I'll get into the next release.

[2015-11-18 12:54] alsoicode commented on #114
Ok, version 2.0.6 has been released to PyPi. Thanks for reporting this!

[2015-11-18 12:54] #114 closed

[2015-11-18 13:30] cho-is commented on #114
Your solution does not highlight the element I am afraid

[2015-11-18 13:50] alsoicode commented on #114
I tested it using the sample project in the source. Are you having issues
in a particular browser?

On Wed, Nov 18, 2015, 8:30 AM Cho Garcia <notifications@github.com> wrote:

[2015-11-18 13:58] cho-is commented on #114
Not highlighting on Chrome and Firefox.
Using django-flat-theme

[2015-11-18 13:59] alsoicode commented on #114
If there's css or js that's overriding my css from django-flat-theme, then I'll have to investigate that as a separate issue.

[2015-11-18 14:09] alsoicode commented on #114
Sorry, I didn't notice that all of the fieldsets were set to collapsed. This seems counterproductive, but, it's not impossible to allow for when selecting which element to highlight.

[2015-11-18 14:26] alsoicode commented on #114
Ok, I put in some extra code to select which element to highlight in the case where all fieldsets are collapsed. In that case, it will highlight the `h3` as you had suggested, otherwise it highlights the `.form-row` as before.

I've tested this using the `ComponentInline` model in the sample project. I left the fieldsets in there, but commented out if you'd like to try it out.

[2015-11-18 15:16] cho-is commented on #114
Nice! thank you sir!

[2015-11-30 14:30] andybak opened #117 "Better discoverability for 'draggable'"
I've switched to your project from a homebrew solution and it's better in nearly every way. However - there's one thing I miss.

I added 'gripper' drag handles to the right-hand edge of each admin inline row to make it more obvious that you can drag a row to reorder it.

This isn't the perfect solution but I think something visible is needed as a hint to users that it's possible to drag. Simply ch

[2015-11-30 14:33] alsoicode commented on #117
Thank you. Can you share a screenshot?

[2015-11-30 14:41] andybak opened #118 "UX improvements to 'unsaved changes'"
Currently a system modal dialog is used to tell users to save changes before saving.

In my previous home-brewed solution to this, I instead updated a hidden order field so that the new ordering was only saved when the modal itself was saved. In some ways I prefer your approach but I does create introduce a new problem that you've used this modal to solve.

Modals are a bit unpleasant in terms of

[2015-11-30 14:49] alsoicode commented on #118
I'm actually not overriding the built-in Django messaging about unsaved changes at all. On every drag and drop, regardless of the state of the parent element, since I'm assuming we're talking about inlines here, an array of key/value pairs is sent via ajax and the ordering is updated.

[2015-12-05 15:12] andybak commented on #117
Yep. Although as I mentioned I think it needs improving.

And here's the code:
 https://github.com/DjangoAdminHackers/django-admin-sortable/blob/master/admin_sortable/static/js/admin_sortable/admin_sortable.js

![screenshot-www thelilyfoundation org uk 2015-12-05 15-11-26](https://cloud.githubusercontent.com/assets/60035/11608480/8417eb0c-9b62-11e5-8296-f0d39921739a.png)

[2015-12-08 19:35] KuroiDOC opened #120 "jQuery library loading on Django 1.9"
When tried to use the project on Django 1.9 I was unable to sort my objects (nothing happened when dragged) because it fails to load jQuery on template change_list.html:12 from static root at admin/js/jquery.js (it seems on Django 1.9 it has been moved to admin/js/vendor/jquery/ directory https://docs.djangoproject.com/en/1.9/releases/1.9/)

I have modified it by hand and now I can freely sort my

[2015-12-08 19:38] alsoicode commented on #120
Ah. I haven't had a chance to take a look at 1.9 yet. I'll try to get a patch in this week, or if you'd like, make a PR and I'll take a look.

[2015-12-21 16:54] camilonova commented on #120
@alsoicode There is a patch in #121 can you release a new version including this fix?

Thanks.

[2015-12-21 16:57] alsoicode commented on #120
Ok, https://github.com/iambrandontaylor/django-admin-sortable/pull/121 has been merged.

[2015-12-21 16:58] camilonova commented on #120
Thanks pal, can we have a release too?

[2015-12-21 17:01] alsoicode commented on #120
Yes. I'm working on it. I'm seeing another issue though with generic content types on 1.9, so I need to take a look at that.

[2015-12-21 17:03] alsoicode commented on #120
Ugh. Looks like the generics have been refactored quite a bit for 1.9. I don't have time to look into this right now, but I'll do my best to look at it today.

[2015-12-21 18:49] alsoicode commented on #120
So, luckily this turned out to be just a simple matter of an import refactor on the sample project. It doesn't affect the adminsortable core functionality at all.

[2015-12-21 19:21] alsoicode commented on #120
@camilonova 2.0.8 has been released to PyPi

[2015-12-21 19:21] #120 closed

[2015-12-21 19:38] camilonova commented on #120
@alsoicode thank you! :santa:

[2015-12-21 19:40] alsoicode commented on #120
You're welcome. I've run the tests and done some manual testing too, but please let me know if you run into any issues.

[2015-12-23 14:46] alsoicode commented on #117
Just wanted to drop you a line to let you know I haven't forgotten about you :)

I'm currently working on adding a font icon based solution for this.

[2015-12-23 14:57] andybak commented on #117
Thanks!

On Wed, 23 Dec 2015 at 14:46 Brandon Taylor <notifications@github.com>
wrote:

[2015-12-23 22:29] alsoicode commented on #117
@andybak I just released 2.0.9 which has sortable icons from Font Awesome. Give it a whirl!

[2015-12-23 22:29] #117 closed

[2015-12-25 02:10] alsoicode commented on #118
Closing this for now, as it would necessitate changes to Django itself.

[2015-12-25 02:10] #118 closed

[2016-01-27 15:39] theithec opened #125 "Fielderror / hardcoded fieldname 'order'"
In `adminsortable.admin.sort_view`, line 191 the hardcoded fieldname `order` is used.
A model with a sortable parent and a ordering field with a different name (like 'project_order' in the examples)  results in a "FieldError: Cannot resolve keyword 'order' into field."

[2016-01-27 15:51] alsoicode commented on #125
Thanks @theithec I'm not sure why or how my unit tests missed that, but I'm working on a fix right now.

[2016-01-27 17:07] alsoicode commented on #125
@theithec I have pushed version 2.0.10 to PyPi to fix this issue.

[2016-01-27 17:07] #125 closed

[2016-02-04 22:31] mdford opened #128 "Sortable working in admin but not cms"
Hi.

I am trying to create a simple django cms plugin that allows users to create a gallery of images that they can add, edit, reorder, etc.  I have it working great on the admin page.  I can add, edit, and sort with no problems.  However, I cannot get the sortable function to work from within django cms.  I followed the directions for overriding the change form template but it is not sortable.  W

[2016-02-05 03:10] alsoicode commented on #128
Hi. Sorry for the delay getting back to you. What version of Django CMS are you using?

[2016-02-05 03:33] mdford commented on #128
I'm sorry, I forgot to include that - I thought had been thorough :-)

Django 1.8.8
django-cms 3.2.0
django-filer 1.1.0
python 2.7.10
virtualenv 1.11.6

[2016-02-05 14:29] alsoicode commented on #128
Thanks @mdford. I'll get a new project set up with those specs and see what's up. I'm pretty slammed this weekend, but I'll do my best to make time.

[2016-02-05 15:09] mdford commented on #128
Awesome, thanks so much!  Let me know if I can help in any way.  I appreciate you taking time to help me figure this out.

Mark

[2016-02-08 14:51] alsoicode commented on #128
@mdford Haven't forgotten about you, have just been very short on time. Still trying to find some time to get this worked out for you.

[2016-02-08 15:48] mdford commented on #128
No problem, I appreciate any time you can devote to it.

[2016-02-10 11:02] JaapJoris opened #129 "Sources missing for jQuery UI"
The file `jquery-ui-django-admin.min.js` in directory [adminsortable/static/adminsortable/js/](https://github.com/iambrandontaylor/django-admin-sortable/tree/master/adminsortable/static/adminsortable/js) is a minified version of a (possibly customized?) jQuery UI library. It would be very nice if the original source for this file was also made available.

[2016-02-10 12:52] alsoicode commented on #129
Apologies, but unfortunately I don't have this file anymore. From what I can remember, the change I made to it was mostly around namespacing. Since Django admin provides its own jQuery, I had referenced jQuery using django.jQuery instead of window.jQuery.

[2016-02-10 12:52] #129 closed

[2016-02-12 11:13] keimlink commented on #128
Having the same problem, but different setup running Python 2.7.6:

[code]

[2016-02-12 11:29] alsoicode commented on #128
Hi guys. Obviously Django CMS has changed since I came up with the implementation.

I've been slammed on work, but should have sone time over the weekend to try to get this resolved. Apologies for the problem and delays.

[2016-02-12 11:41] keimlink commented on #128
No problem, @alsoicode! Thanks for your commitment!

[2016-02-16 08:45] BUHARDI opened #130 "CSRF cookie name"
I'm getting an 403 error when sorted items are sent to server by AJAX POST request. This problem occurs if i have changed default value of [CSRF_COOKIE_NAME](https://docs.djangoproject.com/en/1.9/ref/settings/#csrf-cookie-name) setting. Blame on [jquery.django-csrf.js](https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/static/adminsortable/js/jquery.django-csrf.js)

[2016-02-16 13:14] alsoicode commented on #130
I can just pick up the name from settings and set that in a client-side variable for jquery.django-csrf.js to pick up, somewhere before here: https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/change_list.html#L16 and here: https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/change_form

[2016-02-16 15:04] alsoicode commented on #130
Ok, I have released 2.0.11 to PyPi that fixes this issue for you.

[2016-02-16 15:04] #130 closed

[2016-02-17 14:33] mdford commented on #128
Hey @alsoicode, Any progress on this?  Just checking in.  Let me know if I can assist.

Thanks!

[2016-02-17 14:34] alsoicode commented on #128
Sadly, no. I've been slammed with work plus trying to get a demo ready by tomorrow. Any help would be greatly appreciated.

[2016-02-24 15:01] fabiocaccamo opened #133 "Why don't allow ordering on multiple fields?"
I think it could be useful having the support for something like:
`ordering = ['the_order', '-date']`

In this way if a custom order is not specified we can choose the fallback fields.
The only important thing is that the custom ordering field is the first one.

[2016-02-24 15:10] alsoicode commented on #133
Hmm. That's an interesting proposition. Let me mull on that a bit, but thank you for the suggestion.

[2016-02-29 18:03] JaapJoris opened #134 "Sorting succeeds on StackedInlines, but fails on TabularInlines"
Hi there,

I have encountered the following bug with adminsortable version 2.0.12 and Django 1.9.2. When using a SortableTabularInline admin, the form rows can be dragged and dropped but the Ajax POST requests always returns the following response:

    {objects_sorted: false}

Hence, when reloading the page the objects are again in their original order. For debugging purposes I have changed [line

[2016-02-29 18:04] alsoicode commented on #134
Interesting. I'm not sure why that would fail, but I will look into it asap.

[2016-03-01 00:00] JaapJoris commented on #134
It's a hard bug to reproduce. If it helps, I have created a [minimal working example here](https://github.com/JaapJoris/autodidact/tree/adminsortable-mwe). It's an orphan branch of a much bigger code base that also exhibits the problem.

[2016-03-01 00:24] alsoicode commented on #134
Haven't had a chance to take a look yet. My "to do" list looks like the dead sea scrolls at the moment.

[2016-03-06 13:33] alsoicode commented on #134
First, sorry for the huge delay getting back to you. I was super busy then got sick. Ugh.

I have a virtualenv for this project, and I updated it to Django 1.9.2, and modified the `sample_project` to match the new `@admin.register()` decorator as well. In the first screenshot is the sample app's admin.py:

![admin py -home-btaylor-django-projects-django-admin-sortable atom_008](https://cloud.githu

[2016-03-06 14:05] alsoicode commented on #133
I've given this some thought, and it really doesn't make very much sense to me.

There's really no way to determine if an object has a "custom" order at the adminsortable admin class level. Sorting the objects is determined by a positive integer. As such the methods that affect the order would fail if the specified field isn't an integer.

There's nothing special about the position of `ordering` v

[2016-03-06 14:05] #133 closed

[2016-03-06 14:07] alsoicode commented on #128
Haven't forgotten about you guys. Was extremely busy, then was sick. Ugh! I'm going to try to take a look at this today.

[2016-03-06 14:27] keimlink commented on #128
No problem, same here :wink: :pill:

[2016-03-06 15:56] alsoicode commented on #128
Well this is fun. Django 1.9 is giving me all sort of issues with Django CMS. I made a new app "gallery", added all of the sample code shown above. Added "gallery" to INSTALLED_APPS, and Django tells me

[code]

Why yes, it is. I'm looking right at it. Hurmph.

[2016-03-06 17:29] keimlink commented on #128
Did you use the new [application configuration](https://docs.djangoproject.com/en/1.9/ref/applications/#for-application-users)?

[2016-03-06 18:25] alsoicode commented on #128
Actually, I just created the app using `django-admin.py startapp gallery` then added `gallery` to `INSTALLED_APPS` :|

[2016-03-06 18:30] keimlink commented on #128
The string in `INSTALLED_APPS` must be `gallery.apps.GalleryConfig`.

[2016-03-06 18:32] alsoicode commented on #128
Well. That gets me past the error, but I still get "No changed detected"

On Sun, Mar 6, 2016 at 1:30 PM, Markus Zapke-Gründemann <
notifications@github.com> wrote:

[2016-03-06 18:52] keimlink commented on #128
django-cms 3.2.x does not work with Django 1.9 so far:

-- [Installing django CMS — django cms 3.2.2 documentation](http://docs.django-cms.org/en/3.2.2/introduction/install.html)

[2016-03-06 19:03] alsoicode commented on #128
Looks like their blog is a bit overzealous:
http://www.django-cms.org/en/blog/2016/03/03/announcing-support-for-django-19/

On Sun, Mar 6, 2016 at 1:52 PM, Markus Zapke-Gründemann <
notifications@github.com> wrote:

[2016-03-06 19:09] keimlink commented on #128
Because Django 1.8 is a LTS release I think it's sufficient to use it for the example and testing.

[2016-03-10 17:27] avoine commented on #128
in your cms_plugins.py file shouldn't you be using SortableStackedInline instead of StackedInline
in your ImageInlinePlugin class?

[2016-03-10 17:59] avoine opened #135 "can't find jquery.django-csrf.js"
Is it possible that you forget to add it?

[2016-03-10 21:09] alsoicode commented on #135
Nope. That file has been moved to an include to support using a custom csrf cookie name. The includes are at:

https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/change_form.html#L11

and

https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/change_list.html#L16

[2016-03-10 21:43] #135 closed

[2016-03-10 21:44] alsoicode commented on #134
@JaapJoris Can you please upgrade to 2.0.13? I'd like to see if maybe you were experiencing this issue: https://github.com/iambrandontaylor/django-admin-sortable/pull/136 which is fixed in that release.

[2016-03-12 13:51] #134 closed

[2016-03-14 14:36] willhardy opened #137 "problem using custom name for order field"
It appears as though a stray "finally" means that any custom name for the order field is overwritten with `'order'` no matter what, [see the code here] (https://github.com/iambrandontaylor/django-admin-sortable/blob/ada42c84deeb283613cd78346bff45dd2da6915f/adminsortable/admin.py#L192-L198)

(I'm not even sure if the code needs to specify the default value, as it should theoretically always be avai

[2016-03-14 14:41] alsoicode commented on #137
That's to support legacy implementations of Sortable models, where the `order` field was hardcoded. I haven't experienced a problem with this. Can I see your model?

[2016-03-14 14:59] willhardy commented on #137
But no matter which line matches in the try/except, the variable will be then overridden with `'order'` upon exiting the block. After these lines, the variable cannot have a value other than `'order'`, ie replacing the entire block with just `order_field_name = 'order'` would be functionally equivalent.

[2016-03-14 15:04] willhardy commented on #137
This is what I mean, below the name `a` will never leave the block with a value other than `3`:

    ...   a = 1
    ... except ValueError:
    ...   a = 2
    ... finally:
    ...   a = 3
    ...

    3

    ...   a = 1
    ...   raise ValueError()
    ... except ValueError:
    ...   a = 2
    ... finally:
    ...   a = 3
    ...

    3

[2016-03-14 15:05] alsoicode commented on #137
Yes, you're correct. I forgot that `finally` is executed regardless of
whether or not an exception actually occurs. I'm refactoring this as I type.

On Mon, Mar 14, 2016 at 11:04 AM, Will Hardy <notifications@github.com>
wrote:

[2016-03-14 15:33] alsoicode commented on #137
OK, I have released version 2.0.14 on PyPi which fixes this.

[2016-03-14 15:33] #137 closed

[2016-03-14 15:34] alsoicode commented on #137
Sorry, please don't update yet. Had a problem with the release.

[2016-03-14 15:41] alsoicode commented on #137
Ok, sorry about that. Please update to 2.0.15

[2016-03-14 15:48] willhardy commented on #137
Thanks for the quick fix!

[2016-03-14 15:49] alsoicode commented on #137
You're welcome. Sorry for the careless mistake.

On Mon, Mar 14, 2016 at 11:48 AM, Will Hardy <notifications@github.com>
wrote:

[2016-03-15 17:51] JaapJoris commented on #134
@alsoicode sorry for not getting back to you sooner. I cannot reproduce this bug anymore, neither with version 2.0.12 nor 2.0.13. So it's been a good call to close this issue :-) Sorry for bothering you.

[2016-03-15 17:52] alsoicode commented on #134
No worries at all, and bug me anytime! I'm always looking for ways to make this plugin better. I was hoping by now the Django core team would have pulled my code into Django proper, but, alas, they have not. Sigh.

[2016-04-25 19:02] belug23 commented on #128
I have the same issue here with Django 1.8 and Django-cms 3.2.1 but for me the error is about the admin_urls. While using the CMSPluginBase you don't add the admin_url for 'admin_do_sorting' and that is where it crashes for me.

Thanks

[2016-04-25 19:10] alsoicode commented on #128
Sorry guys, I have been absolutely SWAMPED with work the past month, and am struggling to come up for air. If someone would like to pitch in and help with this issue, I would certainly appreciate it.

[2016-04-26 13:07] belug23 commented on #128
I've almost found a solution. I splitted the admins in mixin and class. Added the support for get_plugin_urls. The only things left before sending a push request is to find Why I don't have the self.admin_site and to test with the sampleproject to make sure every things still works.

[2016-04-29 14:15] belug23 commented on #128
Ok I've commited my first pass on the fix for django-CMS 3.X as I said earlyer there's a bug with admin_site.admin_view since the CMS doesn't add it. You can check the code at :

https://github.com/solution-globale-informatique/django-admin-sortable/blob/fix_cms_3_x_x/adminsortable/admin.py#L107

What changed, I've created mixins to complete the classes of the CMS and created a get_pluggin_urls me

[2016-05-18 13:25] jaap3 opened #138 "Sort icons next to each field (stacked inline / Django 1.9)"
I'm assuming it's not supposed to draw the sort icons next to each field of a stacked inline.

![screen shot 2016-05-18 at 15 23 06](https://cloud.githubusercontent.com/assets/48517/15360082/7c795008-1d0c-11e6-91a8-1a54cae71df9.png)

[2016-05-18 13:52] jaap3 commented on #138
Seems like `forloop.first` does not work. It's always `True` for each iteration of the `for field in line` loop in `adminsortable/shared/fieldset.html`.

[2016-05-18 13:56] alsoicode commented on #138
Hmm. That *is* odd. The icons are supposed to be there, but ones in the middle should be showing an up and down caret. I'll try to take a look later today.

[2016-05-18 13:58] jaap3 commented on #138
Sorry for the crummy screenshot. The issue is that the arrows are shown for every field in every inline, instead of only for the first field of every inline.

[2016-05-18 13:59] alsoicode commented on #138
ah. now that is definitely not supposed to happen

[2016-05-26 09:34] jaap3 commented on #138
Did you get around to looking at this issue? Is there anything I can do to help you out?

[2016-05-26 12:21] alsoicode commented on #138
I'm slammed between 3 different projects at the moment. If you'd like to take a look at this issue, it would be much appreciated.

[2016-06-07 16:37] ncharlot opened #139 "Ordering a large list of items"
Hi,

I'm looking for a solution to ease ordering of items in a large list (hundreds of items).
Drag & drop as became complicated to use. It would be easier to set directly the order wanted but I guess it's a common issue. So any idea?

Thanks

[2016-06-07 19:25] alsoicode commented on #139
Good question. Drag and Drop ordering does get problematic with long lists. Are you needing quick ways to move items to specific positions like first or last? or to a specific interval like 10th or 20th, etc?

[2016-06-16 07:39] vstoykov opened #142 "Wrong AJAX url for admin sorting"
Currently for every registered model there is attached url with model_id parameter. All of these URLs will be with the same name and when resolved in template will point to last registered. For example if I have `app1` with models `App1Model1` and `App1Model2` and `app2` with models `App2Model1` and `App2Model2` and all of them are `Sortable` and registered in admin I will have these URLs:

    /a

[2016-06-16 09:22] vstoykov commented on #142
Now I saw that this URL is used to do the sorting for inline models.

I created the PR and preserved the logic for doing inline sorting in URL which has model ID in it but restricted it only for IDs of the registered inline models.

You can see my PR which is not fully ready yet. I need to make tests for permission checking but I wanted to show may changes early if you have any thoughts, concerns

[2016-06-16 11:50] vstoykov commented on #142
I updated my PR with tests. You can look at it and if you don't have any objections I'll be glad if you merge it.

Thanks.

[2016-06-19 03:31] alsoicode commented on #139
Closing for now.

[2016-06-19 03:31] #139 closed

[2016-06-19 03:32] alsoicode commented on #138
@jaap3 Can you please update to 2.0.16 and see if this is still an issue for you?

[2016-06-19 18:05] jaap3 commented on #138
It's still an issue. I've created an example project to reproduce it: https://github.com/jaap3/adminsortable-issue-138

[2016-06-19 18:28] jaap3 opened #144 "Consider dropping support for Django < 1.8"
With Django 1.10 on it's way and Django 1.8 (as an LTS) being the lowest version still receiving security fixes it seems reasonable to drop support for Django < 1.8.

This also means removing all workarounds and version checks that are in the code.

[2016-06-21 19:50] julianandrews opened #145 "SortableTabularInline styling off"
The title for inline items overlaps the first field when using a SortableTabularInline. See the attached screen shot. My admin setup looks something like this:

[code]

![adminsortable_styling_issue](https://cloud.githubusercontent.com/assets/607449/16243874/86c68b4c-37b6-11e6-8a84-906fc699ae0e.png)

[2016-06-21 19:55] alsoicode commented on #145
Hi. Which version of Django? I'm assuming 1.9?

[2016-06-22 02:24] julianandrews commented on #145
@alsoicode Yup, 1.9. It may be a 1.9 specific problem. I should have mentioned that!

[2016-06-22 11:11] vstoykov commented on #138
I used the project provided by @jaap3 and tried different django and django-admin-sortable versions and found that the regression was happened in django-admin-sortable 2.0.9. In 2.0.8 it works correctly.

[2016-06-22 11:16] vstoykov commented on #138
Actually now I see that the main difference between 2.0.8 and 2.0.9 is that in 2.0.9 these icons are introduced and it seems that this is an issue from beginning and not a regression.

[2016-06-22 11:18] jaap3 commented on #138
OK so it's intended behaviour? Sure looks strange though.

[2016-06-22 11:34] vstoykov commented on #138
I don't think that it is intended behavior. Probably because these icons are for sorting objects list mainly and probably are not tested with inlines or something.

[2016-06-22 13:10] alsoicode commented on #138
Hi guys. Sorry I haven't had a chance to look into this yet. I'll try to do so today; I've just been extremely short on time of late due to ongoing projects.

[2016-06-22 17:23] jaap3 commented on #138
No worries. Have you considered moving this project to [Jazzband](https://jazzband.co/)?

[2016-06-23 15:26] vstoykov commented on #138
@jaap3 Can you try the code from my PR (#147) to see if it is working now?

[2016-06-23 15:26] #138 closed

[2016-06-24 11:14] vstoykov commented on #145
I encountered the same problem in 1.8 also

![django-admin-sortable-misplased-icons](https://cloud.githubusercontent.com/assets/902381/16336411/f518c7d4-3a15-11e6-9409-c2c119128427.png)

[2016-06-24 11:39] vstoykov commented on #145
I prepared a PR which will make the placement of this icons consistent.
@julianandrews you can test the code from #149 to see if it is ok.

@alsoicode In my PR I changed where the icons will be placed and not trying to fix this exact issue by trying to place the icon in where it was before. I don't know why It is broken because on the sample project it looks ok but in the project that I work on an

[2016-06-24 15:09] #145 closed

[2016-06-28 21:13] julianandrews commented on #145
@vstoykov Thanks for the fix, this worked for me too!

[2016-07-11 19:01] orzel commented on #17
Why is it closed ? Is this done ? There's no reference to any git revision or tag or software release ... ?

[2016-07-11 19:12] alsoicode commented on #17
It was never implemented, and given that the OP didn't have any additional feedback, the issue was closed.

[2016-07-11 22:46] orzel commented on #17
Not sure what "OP" means.
Anyway, sortable M2M are really useful for the common case where people want to select a subset of something, and be able to sort it. It's available in other similar django sort applications, and i guess it can be somehow done already with django-admin-sortable, but it's not straightforward (nor documented).

[2016-07-11 23:40] alsoicode commented on #17
OP -> Original Poster

Feel free to offer a pull request. You can already sort subsets of a model, just not a M2M.

[2016-07-13 09:08] orzel commented on #144
I'd support this, indeed.

[2016-07-26 07:46] raaveer commented on #142
Hi,

I have similar problem in Django 1.7.7, i'm using SortableTabularInline like this:

`class SomeChildInline(SortableTabularInline):`
`model = SomeChildModel`

`class SomeParentModelAdmin(SortableAdminModel):`
`model = SomeParentModel`
`inlines = [ SomeInline, ]`

An when I'm trying to sort SomeChildModel items in SomeParentModelAdmin view, the sort request url directs to parent instead module

[2016-07-26 13:20] alsoicode commented on #142
I'll try to take a closer look at this problem this evening.

[2016-08-02 20:36] EugeneDae opened #151 ""TemplateSyntaxError: 'future' is not a registered tag library" for SortableTabularInline"
I'm using Python 3.5.2, Django 1.10 and django-admin-sortable 2.0.18. I've also tried master version from this repository.

[code]

[code]

Also SortableStackedInline works ok.

[2016-08-03 10:48] EugeneDae commented on #151
A simple workaround for Django 1.10 based projects is to create a stub for `future` tag library:

[code]

[2016-08-03 14:06] alsoicode commented on #151
Hello. Sorry I haven't had a chance to look at this yet, but I will try to do so this evening.

[2016-08-03 14:06] #142 closed

[2016-08-03 15:13] EugeneDae commented on #151
With my workaround, I still can't sort SortableTabularInline - the ajax request results in this:

[code]

Interestingly, when I simply replace `SortableTabularInline` with `SortableStackedInline`, everything works perfectly.

Thank you for your work, Brandon.

[2016-08-08 07:48] vstoykov commented on #151
If usage of [`{% load cycle from future %}` in `adminsortable/edit_inline/tabular.html`](https://github.com/iambrandontaylor/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/edit_inline/tabular.html#L1) is somehow avoided then it will work in Django 1.10 too.

[2016-08-08 10:30] alsoicode commented on #151
Sorry for the delay getting to this bug, I've been slammed. I should have
some time this evening to look at it.

On Mon, Aug 8, 2016, 3:48 AM Venelin Stoykov <notifications@github.com>
wrote:

[2016-08-09 00:23] alsoicode commented on #151
@EugeneDae A quick fix to get you going is to simply delete the `{% load cycle from future %}` template tag. This is just some left over legacy code. I see that the inline form templates have changed a bit in 1.10, so I'll need to extend those and make sure everything works before I can create a permanent fix.

[2016-08-09 02:21] alsoicode commented on #151
Ok, I have released version 2.0.19 to PyPi that fixes this issue and updates the admin templates to be more compatible with 1.10

[2016-08-09 02:21] #151 closed

[2016-10-04 07:01] 153957 opened #152 "Support for older Django versions"
The readme states:

However, as far as I can see only Django 1.5 support was dropped (no longer tested), and 1.7.7 on Py3.5. The tests still pass for most combinations of Django and Python.

Shouldn't Django 1.8+ still be supported for the foreseeable future? (Related to #144)

[2016-10-04 10:20] alsoicode commented on #152
Yes, Django 1.8 or higher is still supported.

[2016-10-13 02:50] #152 closed

[2016-10-21 09:47] utapyngo opened #154 "It is possible to drag the table header"
Django 1.9.9
django-admin-sortable 2.0.18

![image](https://cloud.githubusercontent.com/assets/1124655/19594119/e8a38bb0-97ad-11e6-8540-d758fdcc634a.png)

[2016-10-22 16:35] alsoicode commented on #154
Are you saying that you're able to drag the blue bar with the text "Choices - Drag and drop to change order" If so, I'm not seeing the same behavior.

[2016-10-26 19:17] alsoicode commented on #154
Closing as I can't reproduce the issue. Will re-open if necessary.

[2016-10-26 19:17] #154 closed

[2016-10-28 09:47] Ivan34 opened #156 "Drag and drop of a a parent object doesn't save"
Hi,
For my application, I implemented exactly the first common use case of your documentation.
I have sortable Projects which have sortable categories as foreign key. When I try to reorder Categories, it works correctly. When I try to reorder Projects inside a category, it works. But on this last view, if I try to reorder Categories it will not be saved. I tried with the sample_project and there i

[2016-10-28 10:20] alsoicode commented on #156
Well I'll be damned, and I'll figure out what's going on with this.

[2016-10-28 10:52] alsoicode commented on #156
Well, the good news is that the data is saving correctly. If I run the sample project and re-order categories for a project, the data is correct upon inspection of the database. Something is causing the objects to be displayed in the wrong order when returning to the list view. Still investigating.

[2016-10-30 02:37] alsoicode commented on #156
Seems that the sortable foreign key isn't being saved correctly.

[2016-10-30 13:01] alsoicode commented on #156
This pull request: https://github.com/iambrandontaylor/django-admin-sortable/pull/143 completely messed up the admin URL structure for sorting foreign keys. I'm in the process of fixing it.

[2016-10-30 15:40] alsoicode commented on #156
Please upgrade to 2.0.21 which fixes the regression. My apologies for the inconvenience.

[2016-10-30 15:40] #156 closed

[2016-10-31 10:22] Ivan34 commented on #156
Perfect, Thank you!

[2016-10-31 11:07] alsoicode commented on #156
You're welcome

On Mon, Oct 31, 2016, 6:22 AM Ivan34 <notifications@github.com> wrote:

[2016-11-03 17:51] jowan opened #158 "TinyMCE editor compatibility for HTMLField() within SortableStackedInline items"
I am using HTMLField() for a few items with TinyMCE editor.
If I use these fields within a SortableStackedInline item, when I reorder them the editor breaks and you can not input any more.

This is just about jQuery sortable and TinyMCE really - not this module.

The solution was posted here : http://stackoverflow.com/questions/3919928/tinymce-instances-in-jquery-sortable

Just thought it's worth

[2016-11-03 17:57] alsoicode commented on #158
Thank you, I'll take a look at it as soon as I can.

[2016-11-03 18:05] jowan commented on #158
No problem, by no means urgent. Here is what I did in the JS.
Worked for me but it's probably too situation specific to roll out.

[code]

[2016-11-09 14:51] jowan opened #159 "No 2.0.18 in tags"
Hi there,

I don't see 2.0.18 in the list of tags.
This is the one suggested for Django 1.5.x to 1.9.x ?

PIP does work though with specifying it.

[2016-11-09 15:11] alsoicode commented on #159
Gah. That's my fault. I'll get the missing tags for those versions in this
evening.

On Wed, Nov 9, 2016 at 9:51 AM jowan <notifications@github.com> wrote:

[2016-11-09 15:14] jowan commented on #159
Thanks - just thought it was relevant as you were referencing it
specifically.

On Wed, Nov 9, 2016 at 3:11 PM, Brandon Taylor <notifications@github.com>
wrote:

[2016-11-14 11:27] alsoicode commented on #159
Fixed.

[2016-11-14 11:27] #159 closed

[2016-11-28 19:50] bittner commented on #128
Hi guys,

I've also got this problem. I've tried to get the [sample code from the README](https://github.com/iambrandontaylor/django-admin-sortable#django-cms-integration) to run, but no avail.

The `extends` in `sortable-stacked-inline-change-form.html` needs to change to `sortable-stacked-inline-change-form.html`, then the template loads, but still no luck with seeing sorting in the front-end.

[2016-11-30 05:08] Fryyyyy opened #160 "Django error on drag and drop"
I receive an error when attempting to drag and drop rows in a SortableTabularInline:

[code]

The model contains `order_field = models.PositiveIntegerField(default=0, editable=False, db_index=True)` and we're using PostgreSQL.

Cheers!

[2016-11-30 11:21] alsoicode commented on #160
Which version are you using?

[2016-11-30 11:44] alsoicode commented on #160
If you look in the `sample_project`, there is a [SortableTabularInline](https://github.com/iambrandontaylor/django-admin-sortable/blob/master/sample_project/app/admin.py#L55) for the [Credit](https://github.com/iambrandontaylor/django-admin-sortable/blob/master/sample_project/app/models.py#L62) model that uses a `PositiveIntegerField` to hold the ordering value.

This model and sorting are working

[2016-11-30 22:57] Fryyyyy commented on #160
Installed from pip - 2.0.21.
The sample project seems to work.

Here's the model (field names, etc redacted)
[code]

[2016-12-01 00:37] alsoicode commented on #160
Your model definition looks correct, could you please share your admin class?

[2016-12-01 00:38] Fryyyyy commented on #160
[code]

and the parent:
[code]

[2016-12-01 00:43] alsoicode commented on #160
You'll also need your `eAdmin` class to inherit `SortableAdmin`. That's the class that wires up all of the views that django-admin-sortable uses.

[2016-12-01 00:44] Fryyyyy commented on #160
I have:

```class MarkdownAdmin(NonSortableParentAdmin, admin.ModelAdmin):```

Would that not do it?

[2016-12-01 01:04] alsoicode commented on #160
That should work. Let me modify the sample project to add a SortableTabularInline to a NonSortableParentAdmin and see if I can reproduce the error.

[2016-12-01 01:11] alsoicode commented on #160
In the sample project, I switched the inline class for `SortableCategoryWidgetInline` to `SortableTabularInline` and it works as expected. Your `MarkdownAdmin` should only have to inherit `NonSortableParentAdmin` as it eventually inherits `ModelAdmin` up the chain.

[2016-12-01 01:12] Fryyyyy commented on #160
I changed MarkdownAdmin to just inherit from NonSortableParentAdmin and receive the same error :(

[2016-12-01 01:35] alsoicode commented on #160
Hmm. I took at look at:

    return int(value)
TypeError: int() argument must be a string or a number, not 'PositiveIntegerField'

just to see what `value` ends up being in relation to the model, and it appears to be the primary key of the sorted model. When I `print` the value out on a drag and drop action. For some reason, you're getting a class there instead of the primary key value.

Are you d

[2016-12-01 01:47] Fryyyyy commented on #160
No, I don't believe so.
Should I scatter some prints in there?

[2016-12-01 01:53] alsoicode commented on #160
Wouldn't hurt. Without seeing the exact implementation, it's hard to tell what's going wrong when the model is saved. All I can tell you right now is that the sample code works, which of course isn't helping you :)

[2016-12-01 03:04] Fryyyyy commented on #160
I put in some prints, and the problem fixed itself.  I took the prints out and it broke again 👊
Adding things back in one by one to see why my life is so difficult

[2016-12-01 03:53] Fryyyyy commented on #160
I think this is the problem:
[code]

In adminsortable/admin.py, in do_sorting_view, it uses getattr to get the value of the field (on line 295), and instead of a number receives that object reference, then tries to set it on line 300 and we break in the call to save() on 301.

[2016-12-01 11:13] alsoicode commented on #160
That's very strange. I'm not seeing that behavior at all. What version of Python and Django are you using and on what OS? My test coverage uses Python 2.7, 3.4 and 3.5 and goes all the way back to Django 1.6.7, and I'm not seeing any failures in that particular area.

I work on Windows 10, but all of the tests are executed in Linux.

[2016-12-01 23:29] Fryyyyy commented on #160
:~$ python --version
Python 2.7.6

:~$ pip show django
---
Name: Django
Version: 1.10.3
Location: /usr/local/lib/python2.7/dist-packages

[2016-12-02 01:30] alsoicode commented on #160
I'm running Python 2.7.12 and installed Django 1.10.3 into a virtualenv to run the sample project from, and I still can't reproduce the error you're getting.

[2016-12-02 02:07] Fryyyyy commented on #160
Maybe it's a Postgres thing?

[2016-12-02 02:10] alsoicode commented on #160
Hmm. I don't think so. I've run adminsortable against MySQL, Postgres and SQLite without seeing this particular error, and the project has been around since 2011. I've just never seen `getattr` return a class instead of the attribute of the object that you're trying to retrieve.

[2016-12-02 02:12] Fryyyyy commented on #160
Well it's not returning an abstract class, I don't think, it's returning an instance of a PositiveIntegerField instead of an 'int'

[2016-12-02 02:14] alsoicode commented on #160
It *should* be returning the value of that field, not the class instance. If I could reproduce it, I could fix it.

[2016-12-02 02:15] Fryyyyy commented on #160
Oh I definitely agree with that :)
Happy to do whatever debugging necessary

[2016-12-02 02:16] alsoicode commented on #160
Unfortunately, I'm out of time for this evening, but PRs are *always* welcome if you have some time to poke around on it.

[2016-12-02 02:45] Fryyyyy commented on #160
Heh heh heh

From #django:
[code]

[2016-12-02 02:47] alsoicode commented on #160
facepalm. I'll get this into the documentation.

[2016-12-02 02:48] Fryyyyy commented on #160
Or maybe rename the internal variable, since I would imagine a field used for ordering would pretty commonly be called "order_field"?

[2016-12-02 02:54] alsoicode commented on #160
I've put a note in the README for now. I'll probably make a new branch and change the field name over the weekend. I'm going to close this issue for now, but I'll get it addressed.

[2016-12-02 02:54] #160 closed

[2016-12-11 09:09] uraz opened #161 "Django 1.5 AttributeError: 'Options' object has no attribute 'model_name'"
In admin.py, line: 109 should be. `opts.module_name`

[2016-12-11 12:58] alsoicode commented on #161
For Django 1.5, you need to use version 2.0.18 or earlier.

[2016-12-11 15:42] uraz commented on #161
Good to know. Thanks.

[2016-12-13 03:19] alsoicode commented on #161
Closing. If you're still having trouble, I'll re-open.

[2016-12-13 03:19] #161 closed

[2016-12-13 03:21] alsoicode commented on #144
I agree this is probably a good idea. I'm just always so short on time. I'd welcome a pull request if someone would like to take this on.

[2017-01-18 15:40] deluge commented on #128
I installed the following versions/package:
- python 3.5.2
- django 1.9.9
- django-cms 3.3.2

My solution is to:
1. change templatepath like mdford did
2. switch to adminsortable version 2.0.9, because jquery.django-csrf.js is missing in newer versions

[2017-01-31 22:54] mrmachine opened #162 "Very slow on a large set of nested sortable items."
We were seeing render times of ~3 minutes when trying to render the nested page with a couple thousand items grouped into a couple hundred parent items.

Profiling revealed that the vast majority of the time was in the app dirs template loader. When we enabled the cached template loader, render time sped up by ~6x, but it still takes ~30 seconds and again the vast majority of the time is now on te

[2017-02-01 10:44] #128 closed

[2017-02-01 10:45] alsoicode commented on #162
Pull requests are always welcome :)

I'm currently working on a very large project at work and won't have time to look into this issue for quite a while.

[2017-03-13 15:50] camilonova commented on #144
@alsoicode I could work and set up a team to work on improve this library.

Brandon would you agree to move this project to https://github.com/jazzband so we can add more people in here?

[2017-03-14 12:46] alsoicode commented on #144
@camilonova I always welcome pull requests, but I'm not interested in moving the repo for the time being.

[2017-03-15 02:09] alsoicode commented on #144
@camilonova version 2.0.22 has been released to PyPi.

[2017-03-21 10:47] alsoicode commented on #144
Closing with https://github.com/iambrandontaylor/django-admin-sortable/pull/168

[2017-03-21 10:47] #144 closed

[2017-04-03 19:55] peterhriser opened #170 "Usage outside of admin page?"
Would it be possible to make this functionality appear outside of the admin page?

[2017-04-03 19:56] alsoicode commented on #170
If your user is authenticated, the url patterns for adminsortable should be available.

[2017-04-03 20:02] peterhriser commented on #170
Do you have an example of this?

[2017-04-03 20:12] alsoicode commented on #170
If you look at: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/admin.py#L89

You'll see an example of the pattern. Basically, you just need to POST an object, containing the ordering indexes of the objects you want to order:

`{'indexes': [2, 1, 3]}`

to the sorting URL, which identifies the model via it's content type id.

[2017-04-04 10:08] alsoicode commented on #170
@peterhriser Were you able to follow the admin url for sorting?

[2017-04-04 13:27] Flimm opened #171 "Is there a readthedocs link for this project?"
This repo has a `docs/` directory, which usually indicates that the docs are hosted on readthedocs.org. But the README has no link to this documentation. Is there a link for this somewhere?

[2017-04-04 13:28] alsoicode commented on #171
@Flimm Unfortunately no, but the readme is pretty extensive.

[2017-04-04 14:19] Flimm commented on #171
Hmm. So is this link out-of-date, then, or of a fork? https://readthedocs.org/projects/django-admin-sortable/

[2017-04-04 14:20] alsoicode commented on #171
The link is out of date.

[2017-04-04 18:46] peterhriser commented on #170
@alsoicode No I am not following exactly how I am supposed to make it so. I basically just need this drag and drop ability in reordering to appear on a template.

[2017-04-04 19:04] alsoicode commented on #170
Np. You can implement any drag-and-drop library you want, such as native HTML5 drag-and-drop or something like [dragula](https://github.com/bevacqua/dragula)

On drop, you need to post the order of the objects in the format of: `{'indexes': [2, 1, 3]}` to the admin sorting URL that corresponds to your model object's content type id. The order index values should come from the order the objects are

[2017-04-04 20:08] #171 closed

[2017-04-08 08:36] izhukov1992 commented on #17
I used it for Many-to-Many in the next way and it works:
`
#models.py
from django.utils.translation import ugettext_lazy as _
from django.db import models
from adminsortable.models import Sortable
from adminsortable.fields import SortableForeignKey

from django.contrib import admin
from adminsortable.admin import (
    SortableAdmin, SortableTabularInline
)
from .models import (
    Image, Gallery

[2017-04-08 12:55] alsoicode commented on #17
@izhukov1992 Please feel free to create a pull request with updates to the readme and I'll take a look.

[2017-04-25 18:17] alsoicode commented on #170
Closing for now, but will re-open if you still need help.

[2017-04-25 18:17] #170 closed

[2017-05-19 18:08] Arlefreak opened #172 "Django rest framework integration"
Is there a way to use the order on a vieset from django res?

[2017-05-19 18:58] alsoicode commented on #172
If you're authenticated, you can access the URL(s) to re-order objects. All that's expected is that the POST request is sent via Ajax.

See: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/admin.py#L237 for the view that does the sorting.

See: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/admin.py#L88 for the URL pattern.

[2017-05-19 19:14] Arlefreak commented on #172
Oh sorry but I meant for order that the django rest framework query set returns on a list viewset, currently I have a SortableForeignKey, so the view return first all the objects with order 0 instead of ordered by the parent.

[2017-05-19 19:28] alsoicode commented on #172
I'm not understanding what you're asking...

[2017-05-19 19:38] Arlefreak commented on #172
Ok so I have this api endpoint:

`https://api.ellugar.co/portfolio/projectsImages/?project__id=&project__slug=&imgType=mni`

Which returns a list of images related to a Project object which I have like this:

[code]

If I enter the admin/changeorder I get order as it should be:

<img width="689" alt="screen shot 2017-05-19 at 2 31 00 pm" src="https://cloud.githubusercontent.com/assets/1025751/2626

[2017-05-22 09:47] alsoicode commented on #172
Right, because `Image` instances are ordered relative to their parent. Since there is only one image per Project in this case, they all have the same order, 0. What are you expecting/trying to do?

[2017-05-23 14:53] Arlefreak commented on #172
A way to return the images of the first project and then all the images from the second project.

[2017-05-24 01:57] alsoicode commented on #172
In one query? If so, I would filter the list of projects by id, then iterate over the images for each project and return them as a list. Is that what you're wanting? Keep in mind that your Image models are sorted for each project, so without the context of the project they belong to, the other is going to have little meaning.

[2017-05-24 06:55] Arlefreak commented on #172
Yes that's what I wanted to accomplish, I think I misunderstood the functionality of the SortableForeignKey

[2017-05-24 06:55] #172 closed

[2017-06-20 12:04] Deepakmpi28 opened #173 "http://127.0.0.1:8000/login/"
Request Method:	GET
Request URL:	http://127.0.0.1:8000/login/
Django Version:	1.11.2
Exception Type:	TemplateSyntaxError
Exception Value:
'crispy_form_tags' is not a registered tag library. Must be one of:
admin_list
admin_modify
admin_static
admin_urls
cache
i18n
l10n
log
static
staticfiles
tz

[2017-06-20 13:59] alsoicode commented on #173
What does this have to do with Django Admin Sortable?

[2017-06-20 18:00] #173 closed

[2017-09-13 11:17] kokhoor opened #174 "NoReverseMatch when sorting in Django Admin using SortableForeignKey"
When I am trying to sort my model PrePost in Django Admin (it is not an inline but has an admin itself), I received an error saying NoReverseMatch as below. Is sorting models with SortableForeignKey but not in InlineAdmin possible with django-admin-sortable?

Error:

NoReverseMatch at /admin/common/prepost/sort/
Reverse for 'common_prepost_do_sorting' with arguments '('',)' not found. 1 pattern(s)

[2017-09-26 19:48] alsoicode commented on #174
Sorry for the terrible delay getting back to you. I've been extremely busy over the past couple of weeks with a product launch at work.

The problem is that you're not passing in the content type id, referenced as `model_type_id` in the sortable mixin. The exception states:

When you call `reverse()` be sure to supply the content type id value of your `PrePost` model and it should work as expected

[2017-10-04 15:58] derek-adair opened #175 "Touch support"
Quite simply does not work on my android tablet.

[2017-10-04 17:58] alsoicode commented on #175
Let me see what I can do. Am super slammed on work-related projects, but might be able to make this a priority. It's an important feature to have.

[2017-10-05 14:20] derek-adair commented on #175
It should be fairly straight forward.  I haven't really looked at how you do the javascript but there are pleanty of plugins out there you can either import or draw influence from.

I can do a little research if that'd help.

[2017-10-05 18:44] alsoicode commented on #175
I may just have to replace the jQuery UI code that's been there since the
beginning of the project with Dragula or something more modern.

On Thu, Oct 5, 2017 at 10:20 AM Derek <notifications@github.com> wrote:

[2017-10-11 11:05] alsoicode commented on #174
Closing. If you still need help just let me know.

[2017-10-11 11:05] #174 closed

[2017-10-11 11:07] alsoicode commented on #175
Sorry for the delay getting back to you. "Busy" is the new understatement of my life.

I think I may have found a simple solution for this problem, and have it working on my Surface in Chrome. I just need to do some testing on iOS devices and make a couple of CSS tweaks to give you some more space between elements and I think we'll be good.

[2017-10-11 11:07] #158 closed

[2017-10-11 11:09] alsoicode commented on #162
@mrmachine Are you still seeing slow render times on the latest version of admin sortable?

[2017-10-12 01:26] alsoicode commented on #175
@derek-adair Can you please give the touch-support branch a try on your Android tablet? This branch is working for me on my Surface and iPad, but I don't have an Android tablet to test with.

[2017-10-16 16:01] derek-adair commented on #175
Sorry i was AFK.  I'll check it out when I get a chance.

[2017-11-03 07:30] shacker opened #176 "'Library' object has no attribute 'assignment_tag' (Django 2.0)"
Setting up a fresh project in Django 2.0 beta, using default setup instructions, Django admin throws crashing error:

`'Library' object has no attribute 'assignment_tag'`

Django 2 [release notes](https://docs.djangoproject.com/en/2.0/releases/2.0/#features-removed-in-2-0) say:

"The assignment_tag helper is removed."

Django 1.11 docs [say](https://docs.djangoproject.com/en/1.11/howto/custom-temp

[2017-11-03 08:30] shacker commented on #176
Looks like a quick fix: Change:

`adminsortable/templatetags/django_template_additions.py:79`

to:

`@register.simple_tag`

[2017-11-03 12:29] alsoicode commented on #176
Ok, I will take a look.

[2017-11-03 12:52] alsoicode commented on #176
I'm running into significant issues upgrading from 1.11 to 2. I'll work through them as quickly as I can.

[2017-11-03 15:31] shacker commented on #176
Maybe easier to do a fresh virtualenv for a Django 2 test?

If helpful, I can do a PR for this and you can pip install my version from the PR.

[2017-11-04 06:56] shacker commented on #176
PR:
https://github.com/alsoicode/django-admin-sortable/pull/177

[2017-11-22 04:48] mrmachine commented on #162
@alsoicode we're stuck on a Django 1.6 so I don't think the latest version will work for us. Can you point me to a commit that you think improved the situation in the latest version? Perhaps I can apply the fix to an the old version we are using.

[2017-11-22 12:58] alsoicode commented on #162
@mrmachine 2.0.18 is probably the latest version you can use with Django 1.6

[2017-11-27 15:34] cburger opened #178 "CSRF Token stored in Session not Cookie"
Some penetration tests flags storing the CSRF token in a cookie as a security vulnerability. [Django 1.11 now support storing the CSRF token in the session](https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-CSRF_USE_SESSIONS).

When setting `CSRF_USE_SESSIONS = True`, the CSRF fails when changing sorting.

To fix this issue the token should be injected into `jquery.django-csrf.html`

[2017-11-27 16:04] alsoicode commented on #178
Hi @cburger I always welcome pull requests if you have an idea of how to address the issue.

[2017-11-27 16:13] cburger commented on #178
Hi @alsoicode, I made a PR which solves the issue. I have not yet looked at test coverage though.

[2017-12-05 03:16] alsoicode commented on #178
Changes are now part of 2.1.2 release.

[2017-12-05 03:16] #178 closed

[2017-12-05 03:16] alsoicode commented on #176
@shacker These changes are now included in the 2.1.2 release.

[2017-12-05 03:16] #176 closed

[2018-01-11 04:22] sam-mi opened #180 "'NotImplementedType' object is not callable"
Seems to me that https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/models.py#L64 should be `raise NotImplementedError(u'You must define the field '` at the moment it uses `raise NotImplemented(u'...')` which is not a callable.

Here's a more complete example: http://mouadino.appspot.com/notimpelementederror-vs-notimplemented-in-python/

[2018-01-11 04:26] sam-mi commented on #180
Ah, I see this is fixed from v2.1.0

[2018-01-11 04:26] #180 closed

[2018-02-16 04:36] mrmachine commented on #162
Was there a particular change in more recent versions that improved performance that I could look at to backport?

We previously worked around this issue by adding many filters to the change list page e.g. "change sort order for items beginning with A..., B..., C..., etc." but now the number of items has grown and even these filters are causing timeouts and massive load average on our servers.

[2018-02-21 01:13] alsoicode commented on #162
@mrmachine No. I'm afraid that with the dynamic rendering of the object, the extra processing is always going to slow you down with very large datasets. It might be possible to do an extremely specific implementation of the sort list that only calls the model field you need to display vs figuring out what to render.

[2018-02-21 01:14] alsoicode commented on #17
@izhukov1992 Did you want to create a pull request with your many-to-many implementation?

[2018-02-21 17:31] izhukov1992 commented on #17
@alsoicode Yes, please leave this ticket opened. I'm a bit busy now, but I will try to find a code where I used  it and update usage info asap.

[2018-03-12 15:07] Flimm opened #184 "`extra_filters` can only pass kwargs to `filter`, but not args"
I would like to be able to do something like this:

[code]

However, if I do, I get this error:

[code]

Looking at the code, it looks like `extra_filters` is passed as keyword arguments to Django ORM's `filter` method, but there doesn't seem to be a way to pass positional arguments.

Maybe, `extra_filters` should be replaced with two arguments: `extra_filters_kwargs`, and `extra_filters_args`.

[2018-03-13 11:52] mrmachine commented on #162
I've implemented some improvements in a fork against 2.0.18 here:

https://github.com/ixc/django-admin-sortable/commit/08ebc3198e49e7968178734f81bc2c3b1000af63

I have not yet tried to rebase this onto `master` (as we are stuck on 2.0.18).

@alsoicode do these changes look worthwhile to persue in a PR against master?

[2018-03-13 12:10] mrmachine commented on #162
Rebased (but untested) and PR opened against master at https://github.com/alsoicode/django-admin-sortable/pull/185

[2018-03-19 21:45] ricardorover opened #186 "Doc problem when extending custom templates"
Hi, found a doc issue.

When [extending custom templates](https://github.com/alsoicode/django-admin-sortable#extending-custom-templates) in django 2.0 (>= 1.6.x), documentation say to extend
`templates/adminsortable/edit_inline/tabular.html`

But after inspecting [the code](https://github.com/alsoicode/django-admin-sortable/blob/v2.1.3/adminsortable/admin.py#L315), I found out that it should be
`t

[2018-03-20 00:54] alsoicode commented on #186
Sorry about that. I've updated the docs in the master branch.

[2018-03-20 00:54] #186 closed

[2018-03-20 01:19] #162 closed

[2018-03-20 01:38] alsoicode commented on #184
Evening @Flimm. Sorry for the slow response; I've been swamped lately. I'll try to take a look into this as soon as possible for you. Pull Requests are always welcome.

[2018-03-21 11:55] rfleschenberg opened #187 "Cannot sort objects with pk >= 1000"
We should unlocalize the object pk at https://github.com/alsoicode/django-admin-sortable/blob/108ef6dd18c32860b2bce4d8e559fa75ace35dd3/adminsortable/templates/adminsortable/shared/object_rep.html#L4

Otherwise, with `USE_THOUSAND_SEPARATOR = True` and an object with a pk >= 1000, there is an exception which is then swallowed at https://github.com/alsoicode/django-admin-sortable/blob/108ef6dd18c328

[2018-03-21 13:44] #187 closed

[2018-04-16 13:01] bmwant opened #190 "Library does not work with django-parler"
## Description
Cannot make it work when I have translatable admin and want to have sorted inline form for it.

## Example (how to reproduce)
[code]
[code]
**First case** when I inherit from translatable first I have no sorting feature.
**Second case** when I inherit from sortable first I get following error
[code]

How to make them work together?
`django==1.10.7`, `django-parler==1.6.5`, `django-a

[2018-04-16 13:05] alsoicode commented on #190
I'm not familiar with django-parler, but I'll try to take a look and see what's going on.

[2018-04-16 13:11] bmwant commented on #190
@alsoicode see also https://stackoverflow.com/questions/49858200/make-django-admin-sortable-and-django-parler-work-together in case you'll need more details

[2018-05-11 09:27] bashu commented on #190
@bmwant ensure that the inhreritance order is correct:
[code]

and override ``change_form_template_extends`` in ``PersonAdmin`` class like this:
[code]

[2018-05-24 14:04] bmwant commented on #190
Ok, so I did manage to resolve this issue by properly specify inheritance order and also by merging `change_form` template both for `django-parler` and `django-admin-sortable`

[2018-05-24 14:04] #190 closed

[2018-05-29 19:32] gagnesteph opened #192 "IntegerField in Model and ordering do not show in admin"
I found out that if you have another IntegerField in your model, and you want to sort by this IntergerField and the new order field, both fields are not visible in the admin.

Exemple:

`class ReportDownloads(models.Model):

    is_active = models.BooleanField(_('is active'), default=True)
    year = models.IntegerField(_('Year'))
    title = models.CharField(_('Title'), max_length=500)

    pdf =

[2018-05-29 19:36] #192 closed

[2018-06-15 10:32] kokolem opened #193 "jQuery event when reordering is made"
I think it would be great if django-admin-sortable would do a jQuery event when reordering is made, like Django when new inline is added or removed.
Possible syntax:
`$(document).on('reordering', function() {
       //reordering is made
    });`

[2018-06-15 12:11] alsoicode commented on #193
Pull requests are always welcome.

[2018-06-15 15:38] kokolem commented on #193
As I have no clue how your code works, could you just add this line to the point when a user changes the order, please?
`$(document).trigger('order:changed');`

[2018-06-15 15:58] alsoicode commented on #193
No offense, but the best way to learn is to try. I'll see if I can find some time today.

[2018-06-15 16:29] kokolem commented on #193
I tried, but because of the lack of coments in your code, I have absolutly no clue how it works. But anyway, thank you so much for creating this awsome project! It helped me a lot, and with jQuery event after reordering it will help me even more. Thanks!

[2018-06-15 17:01] alsoicode commented on #193
Let me see if I can add a way for you to add additional JavaScript to be executed after the ajax call is made to perform the ordering.

[2018-06-15 17:53] kokolem commented on #193
Thank you! Is there any way I can help?

[2018-06-15 18:00] alsoicode commented on #193
The approach I'm currently taking is to create a custom template that extends the adminsortable/change_list.html template in order to add a JavaScript callback function to be executed in the success callback of the ajax function.

Adminsortable is pretty flexible when it comes to templating, and if I can get it working, would provide a way for you (and others) to add the custom callback without ha

[2018-06-15 18:59] alsoicode commented on #193
Ok, I have a solution working for the base sorting functionality. I need to also address this for inline templates. In a nutshell, you'll need to create a custom template that extends the `adminsortable/change_list.html` template or one of the inline model templates.

In this template, you can define your event listener and also the callback to be executed on sort success. Here's an example:

[cod

[2018-06-16 09:16] kokolem commented on #193
I am using the inline sorting, so this is not working. Is there any way to make it work with inlines too?

[2018-06-16 11:53] alsoicode commented on #193
Yes -

The same workflow will apply for inlines. Do you feel the example above will give you the functionality you're needing?

[2018-06-16 13:04] kokolem commented on #193
Yes, absolutly!

[2018-06-16 13:35] alsoicode commented on #193
Ok, let me get the same functionality in place on the inline templates and get the documentation updated. I will hopefully be able to release the changes today or tomorrow. I'm slammed on a big refactor on a separate project at the moment.

[2018-06-17 09:14] kokolem commented on #193
Take your time, I'll be glad if you make it soon, but it doesn't hurry

[2018-06-18 14:35] alsoicode commented on #193
Hi @kokolem. I've been able to add the custom callback for inlines, however, there's a side-effect that you should be aware of, and I don't think there's a way around this, due to the nature of inline models, but I can continue to investigate.

Currently, an event will be emitted for every inline instance. If there are 3 inlines, you'll see 3 events. If there are 23, you'll see 23 events once sort

[2018-06-18 14:39] alsoicode commented on #193
Actually, nevermind - I got it figured out :) I should be able to get this code merged and released to you today.

[2018-06-18 14:50] kokolem commented on #193
Thank you!

[2018-06-18 16:29] alsoicode commented on #193
Ok, here you go: https://github.com/alsoicode/django-admin-sortable#custom-js-callbacks-after-sorting-is-complete

I have released 2.1.6 to PyPi. Please let me know if you have any questions.

[2018-06-19 13:37] alsoicode commented on #193
@kokolem Can you confirm the 2.1.6 release is working as expected for you?

[2018-06-19 14:28] kokolem commented on #193
Hi. I will have a look at it today.

[2018-06-19 17:37] alsoicode commented on #193
If you're not able to extend `adminsortable/change_form.html`, something is probably wrong with the `TEMPLATES` setting.

You also need to change the name of the variable that is provided by the `SortableAdmin` class. Instead of `after_sorting`, use `after_sorting_js_callback_name` and make sure you set that on your admin class. The value of that variable is really irrelevant. It just needs to be

[2018-06-19 17:46] kokolem commented on #193
Do you see that last line in the templates Django tried? It says skipped. I tried to open that file in explorer - and voila! That is the template I need to extend. But Django skips it. That doesn't make sense.

[2018-06-19 17:49] iambrandontaylor commented on #193
Take a look in the source code at the "sample project" directory. You'll
see a working example based on the ProjectAdmin, complete with template
overrides and settings.

On Tue, Jun 19, 2018, 1:46 PM kokolem <notifications@github.com> wrote:

[2018-06-20 10:48] alsoicode commented on #193
Any luck?

[2018-06-20 13:35] StevenMedina opened #194 "Error when I try to sort objects with a filter applied in the get (admin)"
![fielderror_at__admin_catalog_product_sort_](https://user-images.githubusercontent.com/9811859/41661570-a5f36930-7464-11e8-8afd-064d5013aa2a.png)

Hello, I just made a filter inside django's admin in an object that contains adminsortable, when I make the filter and I am ready to order those objects I get an error 500, could you help me with it please? Thank you

[2018-06-20 13:44] alsoicode commented on #194
Can you show me your ModelAdmin class?

[2018-06-20 13:55] kokolem commented on #193
Nope. This makes no sence. Maybe I can just copy
adminsortable/change_form.html and hard code my stuff into it and then set
in admin.py?

On Wed, Jun 20, 2018, 12:48 Brandon Taylor <notifications@github.com> wrote:

[2018-06-20 13:58] alsoicode commented on #193
Clone this repo and run the sample project. Make sure your settings for templates match what's in the sample project. Is the problem that you're still not able to extend the `adminsortable/change_form.html` template?

[2018-06-20 14:05] kokolem commented on #193
Yes. As you saw in the screenshot, Django skips it for unknown reason.

On Wed, Jun 20, 2018, 15:58 Brandon Taylor <notifications@github.com> wrote:

[2018-06-20 14:33] alsoicode commented on #193
What is your `TEMPLATES` setting?

[2018-06-20 14:34] StevenMedina commented on #194
Okay, look 👍 thanks
![models_py_ _frutapp-backend](https://user-images.githubusercontent.com/9811859/41665210-0f12c872-746d-11e8-81d3-9bbd23349f05.png)

[2018-06-20 14:35] alsoicode commented on #194
This is your model. I need to see your admin model.

[2018-06-20 14:45] StevenMedina commented on #194
Okay

![admin_py_ _frutapp-backend](https://user-images.githubusercontent.com/9811859/41665849-a24917c6-746e-11e8-961e-98daca23a16c.png)

[2018-06-20 17:32] alsoicode commented on #194
Fields that you specify in the admin class for `list_filter` have to correspond to fields on the model, and there are a limited number of field types these can apply to. See: https://docs.djangoproject.com/en/2.0/ref/contrib/admin/#django.contrib.admin.ModelAdmin.list_filter for more information.

I added a list filter to the ProjectAdmin class in the sample project in the source code for django-a

[2018-06-22 14:06] alsoicode commented on #194
@StevenMedina is everything working as expected now for you?

[2018-06-22 16:49] StevenMedina commented on #194
@alsoicode yes, perfect thanks!

[2018-06-22 17:16] kokolem commented on #193
Sorry, I'm not gonna get to my PC until monday. But then I am gonna have a
look at it ASAP.

On Wed, Jun 20, 2018, 16:33 Brandon Taylor <notifications@github.com> wrote:

[2018-06-22 17:17] alsoicode commented on #194
Super. Glad you were able to get everything working!

[2018-06-22 17:17] #194 closed

[2018-06-29 11:57] EmilioK97 opened #195 "Inline sorting stopped working on version 2.1.6"
I notice that the inline sorting seems broke in the 2.1.6 version.
The drag and drop just not triggers.

The 2.1.5 version works as spected.

I'm using Django==2.0.6.
2.1.5 works just fine for me, It's only to report it.

[2018-06-29 12:14] alsoicode commented on #195
Let me see what might be going on. All my tests are passing. 2.1.6 just added the ability to do a custom JavaScript callback after sorting was completed, but didn't alter any of the Python code.

[2018-06-29 12:22] alsoicode commented on #195
I am so sorry - I made a small mistake when specifying the include(s) for stacked/tabular inlines. I'll get a release out shortly.

[2018-06-29 12:32] alsoicode commented on #195
Ok, 2.1.7 has been uploaded to PyPi and I've manually verified that inlines are sorting properly in the sample app. Please let me know if you still run into issues.

[2018-07-03 15:57] #195 closed

[2018-07-03 15:58] alsoicode commented on #193
Closing for now. If you're still having issues, please invite me to your repo so I can see the specific implementation.

[2018-07-03 15:58] #193 closed

[2018-07-06 08:22] alex2304 opened #196 "Callback "after_sorted""
Hi guys!

I need to perform some actions after each sorting has been made.
I've tried to override `do_sorting_view` and add custom actions after sorting, but it raises an error.

Is there any way to do this?

[2018-07-06 08:31] alex2304 commented on #196
So I found the problem - it was that I forgot to return result of the function `do_sorting_view`.

If you also want to make some action after sorting - don't repeat my mistake :) Use something like this:

`class YourModelAdmin(SortableAdmin):
    @method_decorator(require_POST)
    def do_sorting_view(self, *args, **kwargs):
        response = super(YourModelAdmin, self).do_sorting_view(*args, **k

[2018-07-06 08:33] alex2304 commented on #196
Anyway, if maintainers can add more convenient interface for doing this, it would be great!

[2018-07-06 12:09] alsoicode commented on #196
Hi @alex2304. Are you just wanting to be able to define a function on the SortableAdmin model to be executed after sorting?

[2018-07-08 07:10] alex2304 commented on #196
Hi!
Yes, exactly 👍

[2018-07-08 13:15] alsoicode commented on #196
Ok, let me see what I can do for you.

[2018-07-09 11:54] alsoicode commented on #196
Ok, in the master branch, there is now a method on the model admin classes you can override called `after_sorting`.

You can define it on any class that inherits from `SortableAdmin`, `SortableTabularInline` or `SortableStackedInline`. It will be executed after sorting has finished.

Please give that branch a try and define your method inside `after_sorting` and see if it will meet your needs. Exa

[2018-07-12 00:21] alsoicode commented on #196
@alex2304 Have you had a chance to look at this yet?

[2018-08-02 05:00] mrmachine opened #197 "Performance is horrible when re-ordering a large number of objects."
The current implementation simply iterates a list of model instances and calls `.save()` on every single one.

https://github.com/alsoicode/django-admin-sortable/blob/6d5f9e97b493a8d523e00a6076b3446dc0b8bbd5/adminsortable/admin.py#L298-L305

We've got an ordered model with ~3.5k objects and new objects get added to the end, but we often need to move them up near the top. That means calling `.save(

[2018-08-02 14:04] alsoicode commented on #197
I always welcome pull requests. If you feel this approach will work, and it passes all the tests, I'm more than happy to adopt this methodology.

[2018-08-03 00:55] mrmachine commented on #197
Thanks. I was just checking if you knew of any reasons why it wouldn't work before I go any further.

[2018-08-13 23:38] derek-adair opened #199 "'get_django_version' received too many positional arguments"
I'm trying to upgrade from 2.1 to 2.1.7 and i'm getting the following template error

'get_django_version' received too many positional arguments

[code]

[2018-08-13 23:43] derek-adair commented on #199
Hmmmmmmmmmmmmmm i'm stuck on 2.1.6 for some reason.

[2018-08-14 00:16] alsoicode commented on #199
I'm not sure why that would be happening. That template tag doesn't accept any arguments: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/templatetags/django_template_additions.py#L79

[2018-08-14 16:29] MaZZly opened #200 "Possible to reference self as SortableForeginKey?"
Hi,

I'd like to make a sortable menu, where each item can also contain several submenu items.

I tried creating a `parent=SortableForeignKey('self')` and tested admin sorting, but it seemed to only allow sorting of the child items.

Is this supported? or would it have to be made as 2 separate Models (e.g. Menu and SubMenu)?

[2018-08-14 17:39] alsoicode commented on #200
The easiest way is to have two models. You'll be able to sort the outer and inner models at the same time.

Self-referential foreign keys introduce some real difficulty when sorting children and recursion in the templating that I've never been able to come up with a viable solution for.

If you look in the source code, there's a sample project with many different types of sortable scenarios. You'l

[2018-08-20 16:00] ryanbagwell commented on #199
Shouldn't this be:

[code]

[2018-08-20 16:06] alsoicode commented on #199
No, you can store the result of the tag in a template variable using "as". See the last section of: https://docs.djangoproject.com/en/2.1/howto/custom-template-tags/#simple-tags

[2018-08-20 16:10] ryanbagwell commented on #199
Looks like that started in Django 1.9. I'm using 1.8, so I'm assuming that's my issue (FWIW the docs say the latest version is compatible with 1.8+)

[2018-08-20 16:11] alsoicode commented on #199
AH, that could definitely be my fault :) Let me see if I can find a compatible version for you.

[2018-08-20 16:14] alsoicode commented on #199
Could you please try version 2.0.21? I think that's probably the latest you can use with Django 1.8

[2018-08-20 19:02] derek-adair commented on #199
I have 2.1.0 working w/ django 1.8.13.

[2018-08-20 19:02] #199 closed

[2018-08-20 19:08] alsoicode commented on #199
Glad you got it working. Sorry for any time lost.

[2018-08-20 19:11] derek-adair commented on #199
It actually was a bug not related to your code at all, so feel better XD

[2018-08-20 19:12] alsoicode commented on #199
It can still be difficult to track down issues like that. I'm facing a similar situation with Keystone.js + Nunjucks and TypeScript :)

[2018-08-20 20:02] ryanbagwell commented on #199
@alsoicode thanks, 2.0.21 worked with Django 1.8. Sorry for using an antiquity ...

[2018-08-20 20:04] alsoicode commented on #199
No worries at all. It's funny how quickly something becomes in Internet years, especially in the land of JavaScript.

[2018-09-08 11:42] Mhs-220 opened #201 "not work in production mode"
hi
when i test it in my local host or with django runserver, it's work very well but when i use it with nginx and gunicorn, nothing happen
i check network and nothing post to my app
what can i do?

[2018-09-08 19:33] alsoicode commented on #201
There are no POST requests issued when dragging/dropping items in a change list? In Chrome Developer Tools, are there any JavaScript files returning 404s? Any console errors?

There's nothing specific in django-admin-sortable that would cause it not to work with nginx and gunicorn.

[2018-09-09 04:51] Mhs-220 commented on #201
I check it as you said and its work on chrome very well!!!
but in firefox there is no 404 and there is nothing unloaded
i remove my cache too but that is not helped.
any idea?

[2018-09-09 12:14] Mhs-220 commented on #201
i test it in another PC and its work well with firefox too, i can't understand it

[2018-09-09 12:16] alsoicode commented on #201
Working for me in Firefox 62. I've never had any previous reports of the sorting functionality not working in FireFox. Here's a screen recording from Firefox 62 on Windows 10.

[firefox.zip](https://github.com/alsoicode/django-admin-sortable/files/2364213/firefox.zip)

[2018-09-14 00:26] alsoicode commented on #201
I'm closing this for now, as it doesn't seem as if the problem is directly related. I'll re-open if you find something specific to the module code.

[2018-09-14 00:26] #201 closed

[2018-09-14 00:27] alsoicode commented on #200
Closing for now. I'll re-open if you need help, or just ask a question on Stack Overflow and tag me in the comments.

[2018-09-14 00:27] #200 closed

[2018-09-14 00:28] alsoicode commented on #197
Any updates on your changes?

[2018-09-23 09:16] kokhoor commented on #174
Thanks and sorry for late reply too.

I believe it is because I was trying to use a SortableAdmin on a model with SortableForeignKey, thus causing the error. Changing the SortableForeignKey to ForeignKey will work, just the sorting are not grouped by the Foreign Key.

[2018-10-06 13:53] alsoicode commented on #184
@Flimm My sincere apologies for taking so incredibly long to get back to your request. I've added the ability to pass positional arguments to the get next/previous filters in the develop branch for you to test out.

Now you can do an override of `get_next()` as such:

from django.db import models

[code]

This is working for me as expected in the Sample Project within the repo. You'll see a simila

[2018-10-10 18:03] alsoicode commented on #184
@Flimm This functionality has been included in 2.1.9, which is available on PyPi.

[2018-10-10 18:03] #184 closed

[2018-10-24 11:47] mmmcorpsvit opened #202 "Admin, reorder action, missing variables on string_if_invalid"
all work fine, but if click action reorder and in settings defined
[code]
on top of admin see:
`
<< MISSING VARIABLE "media.css" >> << MISSING VARIABLE "media.js" >>
`

[2018-11-01 12:30] Flimm commented on #184
@alsoicode Thank you so much! That works perfectly.

[2018-11-01 13:40] alsoicode commented on #184
@Flimm You're welcome; very sorry that took so long to get done. Time has not been my friend this year.

[2018-11-20 02:13] alsoicode commented on #202
I'm not able to reproduce this issue. `media.css` and `media.js` aren't files included anywhere in this module. I notices that you have `'django.template.context_processors.request'` specified twice, which might be causing the problem with your project specifically, or perhaps it's a bug in easy_pjax... not sure.

[2018-11-20 02:13] #202 closed

[2019-01-09 17:52] dylanmccall opened #203 "Missing buttons to change order in Django admin"
Hiya! In the project readme, I see what looks like some accessible up and down buttons to change order [when sorting inlines](https://camo.githubusercontent.com/68914a2a4fc6276fbe77245174eb1b4ce541cd00/687474703a2f2f7265732e636c6f7564696e6172792e636f6d2f616c736f69636f64652f696d6167652f75706c6f61642f76313435313233373535352f646a616e676f2d61646d696e2d736f727461626c652f736f727461626c652d696e6c696e6573

[2019-01-09 18:34] alsoicode commented on #203
Hi @dylanmccall I'll need to set up a project using 1.11.x and see what the problem might be. I'm out of pocket until the weekend on a business trip, but I'll try to take a look before then.

[2019-01-09 21:06] dylanmccall commented on #203
Ah, poking at the source repo I see there's a separate template used for 1.10+ which doesn't include those arrows (seen here in a pre-1.10 template: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/edit_inline/tabular.html#L31). But looks like it's just an icon anyway. The visual discrepancy got my mind wandering :) I'd love some up and down sort

[2019-01-09 23:56] alsoicode commented on #203
The 1.10.x templates are for that range specifically. After that, it should be using the `stacked.html` and `tabular.html` templates, which do include the FontAwesome sorting icons: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/edit_inline/stacked.html#L12

Which version of Django Admin Sortable are you using?

[2019-01-14 08:33] ron8mcr opened #204 "Broken JS with custom CSRF_HEADER_NAME setting"
There is fixed value of CSRF header name in [jquery.django-csrf.html](https://github.com/alsoicode/django-admin-sortable/blob/d4f577fdf905aa1cdef7fe2bce490197b68cbaa5/adminsortable/templates/adminsortable/csrf/jquery.django-csrf.html#L30). It may be set using Django setting [CSRF_HEADER_NAME](https://docs.djangoproject.com/en/2.1/ref/settings/#csrf-header-name), so this value should be passed from

[2019-01-14 14:31] alsoicode commented on #204
Hi @ron8mcr I have a branch to fix this ready to go, just need some time to get it deployed to PyPi for you.

[2019-01-14 14:54] alsoicode commented on #204
Ok, 2.1.10 is available for you on PyPi.

[2019-01-14 14:54] #204 closed

[2019-01-17 11:12] tonykyriakidis opened #205 "CSRF token missing or incorrect"

[2019-01-17 11:26] tonykyriakidis opened #206 "CSRF Token missing or incorrect when sorting (POST Ajax)"
Somehow I get a:
` Forbidden (CSRF token missing or incorrect.): /admin/amp_stories/story/sort/do-sorting/7/
`
in my settings I have:
` CSRF_COOKIE_HTTPONLY = False
`

my admin.py:

[code]

my models.py
[code]

What could be the cause of this? I am using Django 2.1.4

[2019-01-17 14:34] alsoicode commented on #206
Hi @tonykyriakidis. I'm not sure off the top of my head, but I can look into it for you.

[2019-01-17 16:02] tonykyriakidis commented on #206
that would be great! I still haven't found a way to fix it.

[2019-01-17 16:33] alsoicode commented on #206
It may be tomorrow before I can look at it. I'm slammed on my current project and have a family event to attend this evening.

[2019-01-17 16:46] alsoicode commented on #206
I think I may have accidentally broken the csrf functionality with a recent release, although all of my tests are passing. The default value of `CSRF_COOKIE_HTTPONLY` is already false, so I think it's another issue entirely.

[2019-01-17 18:22] alsoicode commented on #206
For some reason, with 2.1.4, Django is expecting the `csrfmiddlewaretoken` value to be in the POST data and not just the request headers it seems. I have the changes in place and manual testing for regular models and inlines is working as expected now.

I should be able to get a new version out to PyPi for you within the hour.

[2019-01-17 18:37] alsoicode commented on #206
Ok, 2.1.11 is available for you on PyPi. Please let me know if this works for you.

[2019-01-17 18:53] tonykyriakidis commented on #206
Confirmed, it works! Thank you very much! Enjoy your evening!

[2019-01-17 18:53] #206 closed

[2019-01-17 18:57] alsoicode commented on #206
You're very welcome.

[2019-02-09 11:54] makarqa opened #207 "Conflict with list_filter"
Cached a conflict with list_filter when filtering by more than 1 param.
For example, with query
`/admin/catalog/product/?brand__id__exact=38&subcategory__id__exact=10`
I see all objects with _brand_id_, but not filtered by _subcategory_. So the only first query seems to be applied.

[2019-02-11 15:17] alsoicode commented on #207
Hi @makarqa Help me understand the issue better. Are you saying that when looking at the Change List for your Catalog object and filtering by more than one criteria that you're not seeing the objects you're expecting? If so, I'm not sure how that relates to Django Admin Sortable, as this package doesn't make any modifications to the Change List view.

[2019-02-12 14:57] makarqa commented on #207
Yes. When I apply filter, I can see objects which I was looking for (sorted by both criterias). But when I go to sorting mode there are objects, sorted only by first given criteria.

To help you understand, I've captured a video (it is on russian, but I think it will be ok to understand situation) https://drive.google.com/file/d/11tNUwzS9v5kmXhZewwt2dxAOSQvnELKq/view?usp=drivesdk . When I go to so

[2019-02-12 15:52] alsoicode commented on #207
Gotcha. Let me look into it, and your English is great.

[2019-02-12 16:16] alsoicode commented on #207
Ok, I have the root of the problem fixed, but I need to make some adjustments in the templates to properly handle the number of items available to sort.

[2019-02-14 21:05] alsoicode commented on #207
@makarqa I've made the appropriate template updates and should be able to get a new version out to PyPi later today or tomorrow.

[2019-02-14 21:10] alsoicode commented on #207
Had some extra time after all. Version 2.1.12 is available on PyPi for you.

[2019-02-18 05:24] makarqa commented on #207
Thanks a lot! Will check it as soon as I can.

[2019-02-20 04:37] makarqa commented on #207
Works fine now, thank you!

[2019-02-20 14:58] alsoicode commented on #207
You're very welcome

[2019-02-20 14:58] #207 closed

[2019-02-21 10:58] deluge opened #208 "FieldError: Cannot resolve keyword '_to_field' into field."
With the latest version 2.1.12 there is a bug for admin inline "raw_id_fields". When I clicked the loupe and the popup is opening, I get this error. The bug seems to be here:
https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/admin.py#L47

[code]

[2019-02-21 15:11] alsoicode commented on #208
@deluge Sorry about that. Can you please give the master branch a try? I've put in a fix and tested on my end that should work for raw_id fields.

[2019-02-21 15:24] deluge commented on #208
Hey thanks for the fast feedback. I installed the master and all looks fine :)

What about the next release? Will it be released soon?

[2019-02-21 15:39] alsoicode commented on #208
You're welcome 2.1.13 is available for you on PyPi: https://pypi.org/project/django-admin-sortable/

[2019-02-21 15:39] #208 closed

[2019-02-26 14:18] StevenMedina opened #210 "Cannot resolve keyword 'p' into field."
Hi, I am trying to sort my objects but when I go to the url the P of 'page' as I apply the order button throws me this error, I am using version 2.1.14, could you help me with it please.

![fullscreen_2_26_19__9_14_am](https://user-images.githubusercontent.com/9811859/53419243-7d899100-39a7-11e9-9317-32e8f9885e78.png)

[2019-02-26 14:22] alsoicode commented on #210
Hi. I'll need to see your Model and ModelAdmin definitions please.

[2019-02-26 14:40] StevenMedina commented on #210
Okay, here they are
![fullscreen_2_26_19__9_37_am](https://user-images.githubusercontent.com/9811859/53420728-508aad80-39aa-11e9-8a35-0eb8b37b31a9.png)

![fullscreen_2_26_19__9_38_am](https://user-images.githubusercontent.com/9811859/53420756-626c5080-39aa-11e9-983c-5fc983cb806e.png)

![fullscreen_2_26_19__9_39_am](https://user-images.githubusercontent.com/9811859/53420793-757f2080-39aa-11e9-87cd-

[2019-02-26 14:43] alsoicode commented on #210
Thanks. I'll need to make some time to add a sample model that matches your setup. In the meantime, you might drop back to version 2.1.11

[2019-02-26 14:45] StevenMedina commented on #210
Perfect, I thank you and I remain pending.

[2019-03-04 06:33] tonxxx opened #211 ""Common Use Case": Categories order doesn't affect Projects"
Hi!

I'm using latest version with last Python and Django; tried locally and also at Digital Ocean.

These are the Models: https://github.com/alsoicode/django-admin-sortable#common-use-case

When I change an order of Projects inside any Category, everything works fine. When I change the Categories' order, it doesn't affect Projects:
![download](https://user-images.githubusercontent.com/23074442/53

[2019-03-04 11:24] alsoicode commented on #211
The "Category" and "Project" models are separate. Changing the order of either of those models won't affect the other.

Project specifies Category as a SortableForeignKey field, allowing you to specify an order for the categories listed under a Project. Sorting the Category instances won't affect the order of projects or vice-versa.

If there is only one instance of a foreign key model, as in the

[2019-03-04 13:02] tonxxx commented on #211
Thanks for fast reply! Let me explain what I'm trying to achieve:

1. I've created three Categories - first, second & third and some Projects related to these. This is how everything is sorted:
![screenshot_15](https://user-images.githubusercontent.com/23074442/53734410-7a663780-3eb6-11e9-87bd-a3c00e16c100.jpg)

2. Now I want to change the order of Categories and Projects, I pressed "CHANGE ORDER"

[2019-03-04 13:40] alsoicode commented on #211
You're going to need to show me your models, because your screen shots aren't lining up with your description of the data.

If I understand you correctly, your "Project" model is specified as a SortableForeignKey on Category?

Sorting the Projects is in no way going to affect the sort order of the parent Category, as the sort order of Projects is unique per Category instance, if indeed Project is

[2019-03-04 13:57] tonxxx commented on #211
I took the models from here:
https://github.com/alsoicode/django-admin-sortable#common-use-case

Project.category = SortableForeignKey(Category)

Let's say I have the following structure:
Category A
--Project 1
--Project 2
Category B
--Project 3
--Project 4
The initial order is "Category A > Category B", so the Projects are sorted this way:
--Project 1
--Project 2
--Project 3
--Project 4

When I c

[2019-03-04 14:05] alsoicode commented on #211
No, that's not how it works :)

When you're talking about a foreign key model, the order is relative to the parent, not to Projects *overall*

The Projects for Category A are ordered relative to Category A.
The Projects for Category B are ordered relative to Category B.

[2019-03-04 15:53] tonxxx commented on #211
OK thanks, it's a pity =)

[2019-03-04 15:53] #211 closed

[2019-03-04 16:03] alsoicode commented on #211
Well, I don't really see it as a pity, as the behavior is simply following the relational model.

You could still get the ordering you're looking for by creating your own list, first iterating over the Category instances, and then their respective Projects.

[2019-03-05 04:19] tonxxx commented on #211
Sure, thanks. Actually, it's not a problem for me. Thanks for a great package! 👍

[2019-03-05 04:30] alsoicode commented on #211
You're very welcome,

[2019-04-15 07:33] Alex12245 commented on #210
The problem is that `IGNORED_PARAMS` does not contain `PAGE_VAR` variable. According to this
problem, this condition
`if k not in IGNORED_PARAMS:
      filters[k] = v`  is always true for `p` param.

[2019-04-17 15:18] alsoicode commented on #210
Ah, then we should be able to do: `if k not in IGNORED_PARAMS or k != PAGE_VAR`

[2019-04-17 15:25] alsoicode commented on #210
@StevenMedina Can you please try the `fix-key-filtering` branch?

[2019-04-17 15:51] StevenMedina commented on #210
@alsoicode Hi, sure, I check it and I'll tell you, thanks.

[2019-04-17 19:40] StevenMedina commented on #210
@alsoicode  I have just done tests, and the part that was solved is that directly when I give to the next page it filters me without problem, but when I give it to organize it breaks again.

As I observe comes from this method which filters the queryset when I select the button to organize.

`def get_sort_view_queryset(self, request, sortable_by_expression):
        """
        Return a queryset,

[2019-04-25 01:48] afk-mario commented on #210
Having the same issue here

[code]

[2019-05-31 14:36] StevenMedina commented on #210
@alsoicode sorry for the delay, this method works perfectly, I no longer present the error
[code]

[2019-06-03 18:35] alsoicode commented on #210
@StevenMedina I have released version 2.1.15 to PyPi with this fix for you.

[2019-06-03 18:35] #210 closed

[2019-07-11 16:03] ton77v opened #213 "SortableMixin conflicts with django-modeltranslation"
Hello! There is a problem if you trying to use SortableMixin for a model, that's registered with django-modeltranslation

To reproduce:
install django-modeltranslation

models.py:
[code]

admin.py:
[code]

translation.py:
[code]

When you are adding a new entry, an error will be raised
a call to `self.order_field_name` raises it, since there is no such an attribute

[2019-07-12 01:23] alsoicode commented on #213
Do you have a sample project with all of the necessary configuration you could zip up and send to me?

[2019-07-12 01:24] alsoicode commented on #203
Closing this for now. You can re-open if necessary

[2019-07-12 01:24] #203 closed

[2019-07-12 01:26] alsoicode commented on #17
@izhukov1992 If you'd like to add your M2M implementation, please create a pull request, otherwise I'd like to close this issue.

[2019-07-20 12:46] ton77v commented on #213
Sure, thanks
I've created a test project & app and uploaded to github, this is an app:
https://github.com/ton77v/test8/tree/master/testapp

If you try adding a SortTest object, an error appears

[2019-07-20 15:39] alsoicode commented on #213
Thanks, I'll take a look as soon as I can.

[2019-08-04 14:53] alsoicode commented on #213
@ton77v Sorry to take so long to get back to you. The problem seems to be that when your admin class inherits from both SortableAdmin and TranslationAdmin, that the SortableMIxin's __init__() is either being skipped entirely or is firing too late.

This runs the routine that sets the `order_field_name property`, which looks in the model's Meta class for what field you've specified for ordering to

[2019-08-13 15:28] ton77v commented on #213
Thanks, Brandon. I created some ugly hack to skip the problems, it's a pity that there is no good way out, but I can live with that. )) I think you are right about admin.register() and will try not to mix few classes next time.

[2019-08-13 15:28] #213 closed

[2019-08-26 19:04] whatisjasongoldstein opened #215 "Dragging changes FontAwesome icons that it shouldn't"
We use FontAwesome icons in some custom widgets in the Django Inlines.

When dragging inlines, all the icons turn into `fa-sort`.

This is because this selector is too broad:

https://github.com/alsoicode/django-admin-sortable/blob/ff4dc3184f131863b270b8e7e0d4e4f0fb0db936/adminsortable/templates/adminsortable/edit_inline/admin.sortable.tabular.inlines.html#L43

That will catch _any_ fontawesome cl

[2019-08-28 21:42] alsoicode commented on #215
Ok, version 2.1.18 is available for you on PyPi.

[2019-08-28 21:42] #215 closed

[2019-08-28 21:46] whatisjasongoldstein commented on #215
Awesome. Thanks again!

[2019-09-02 15:56] derek-adair opened #216 "start order @ 1 for each group of sorted models"
python: 3.5.6
Django: 2.1
django-admin-sortable: 2.1.7 (tried on latest as well)

I'd like to clarify that this is working as expected, I just need the order to reset for each group of sorted models.

Code:
[code]
Example of current behavior:
[code]
Example of desired behavior:
[code]

[2019-09-02 16:29] derek-adair commented on #216
Also - setting this manually in my models save does not seem to take;

class Game(SortableMixin):
...
    def save(self, *args, **kwargs):
        if self.pk is None:
            order = Game.objects.filter(week__week_num=self.week.week_num).count()
            setattr(self, 'order', order)
        super(Game, self).save(*args, **kwargs)
[code]

[2019-09-02 17:40] alsoicode commented on #216
Hi @derek-adair django-admin-sortable doesn't support this type of functionality. The ordering integer is incremented across the entire QuerySet regardless of what relationship there might exist between objects.

This is not something I'd be willing to put into the core of django-admin-sortable, but it shouldn't be terribly difficult to use the logic here as a starting point for your own implement

[2019-09-02 17:45] derek-adair commented on #216
Gotcha, thanks!

[2019-09-02 17:45] #216 closed

[2019-10-27 17:49] cjtapper opened #217 "`staticfiles` and `adminstatic` template tag libraries have been deprecated and removed"
`{% load staticfiles %}` and `{% load adminstatic %}` were [deprecated in Django 2.1](https://docs.djangoproject.com/en/2.2/releases/2.1/#features-deprecated-in-2-1), and [removed in Django 3.0](https://docs.djangoproject.com/en/dev/releases/3.0/#features-removed-in-3-0).

There are a couple of occurrences that I can see:

https://github.com/alsoicode/django-admin-sortable/blob/612de9ea9d3fa68c34b

[2019-10-27 17:52] alsoicode commented on #217
It's been a while since I've looked at a conditional load statement, but it's probably easiest just to introduce a new breaking version of adminsortable for Django 3 at 2.2 and not try to make it backwards compatible.

There are some other bits of legacy code that can be removed for much older versions of Django in there as well, and this version would be a good time to remove those.

[2019-11-06 09:40] jab3z commented on #174
A very simple way to fix it is to to add this method on the parent model

[code]

[2019-11-20 21:56] ColbyPowers opened #219 "Deleting from a SortableTabularInline class does not update the order of all elements in the list"
I am using version 2.1.16.

When I delete an item from an inline inheriting from the SortableTabularInline, the order of the other elements is not updated to reflect the changes from the delete. For example, I have a list of fruits:

1) Apple
2) Banana
3) Orange

If I delete "Banana", Orange's order stays at 3. The only way to reset the order, is to use the drag and drop after I delete the "Banana

[2019-11-21 19:04] alsoicode commented on #219
This isn't a bug, it's just the way admin sortable works. When considering sort order, the number of the next object is irrelevant programmatically. When you add another object, it's going to get whatever the max or min value is depending on your sort order and add or subtract 1 to the value.

What the number used for the order value actually is doesn't matter (to admin sortable's programming) as

[2019-11-21 19:04] #219 closed

[2019-11-29 13:41] cjtapper commented on #217
I'm happy to take a look at these, too, if you happen to know where in the repo I should be looking.

[2019-12-01 18:06] alsoicode commented on #217
Most of that code would be in the admin.py file, for instance here: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/admin.py#L187

[2019-12-07 22:42] alsoicode commented on #217
Version 2.2.0 has been released to PyPi which is working with Django 3 according to my unit and hand-testing. Please let me know if you run into any issues.

[2019-12-07 22:42] #217 closed

[2019-12-26 11:51] Mogost opened #220 "No tests run with django 3.0"
In my opinion, we need to revise the supported versions of python and django. Drop djnago/python support that is in end of life stage.
Also need to improve classfiers in setup.py.

[2019-12-26 13:10] alsoicode commented on #220
Pull requests are always welcome

[2019-12-26 18:15] alsoicode commented on #220
@Mogost I am able to run all tests with Python 3.6.5 and Django 3

<img width="505" alt="admin-sortable-django3-tests" src="https://user-images.githubusercontent.com/86738/71485957-cbe30880-27e1-11ea-95c7-1b2020aaa420.png">

[2019-12-26 18:18] Mogost commented on #220
I mean that in CI (Travis) there is no Django 3.0 env.

чт, 26 дек. 2019 г., 21:15 Brandon Taylor <notifications@github.com>:

[2020-01-14 22:38] sseveringhaus-newclassrooms opened #221 "Header row for SortableTabularInline is draggable in admin form"
Hi there. I'm using version 2.1.18 and Django 2.2.7. I've got a `SortableTabularInline` underneath a `NonSortableParentAdmin` for a model. Drag-and-drop works fine, except that the header row is also draggable. Dropping the header row causes a 500 error, though I won't clutter this report with the stack trace, since I think it's not relevant. (It's trying to post data that it shouldn't be trying t

[2020-01-14 23:25] alsoicode commented on #221
Hi @sseveringhaus-newclassrooms this error is being caused by the selector for the tabular inline group here: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/edit_inline/admin.sortable.tabular.inlines.html#L13 and it's affecting all versions. I'm surprised (and embarrassed) that no one has caught this in the past 9 years (facepalm)

The fix is s

[2020-01-14 23:34] alsoicode commented on #221
2.2.1 is available for you on PyPi: https://pypi.org/project/django-admin-sortable/

Please let me know if you're still having issues.

[2020-01-14 23:34] #221 closed

[2020-01-14 23:51] sseveringhaus-newclassrooms commented on #221
Thank you, sir. Works like a charm with Django 2.2.7. I'm not readily able to test with newer versions, but I can give it a try if it would be helpful.

[2020-01-15 00:00] alsoicode commented on #221
You're very welcome, and thanks for the coffee! I also looked into the problem with the FontAwesome icons not showing up in the inline sortable models. That's been fixed as well and is now available on PyPi as version 2.2.2 if you want to update your requirements.txt

[2020-01-15 00:30] sseveringhaus-newclassrooms commented on #221
Hm. This gives me a `TemplateSyntaxError` `'future' is not a registered tag library`. Some quick searching suggests that `cycle` has [been removed](https://docs.djangoproject.com/en/dev/internals/deprecation/#deprecation-removed-in-1-10) from `future`, but possibly I'm doing something else wrong here.

[2020-01-15 00:53] alsoicode commented on #221
It's probably my fault. The inline template overrides are complicated. 2.2.2 is working as expected with Django 3, but I may need to make some adjustments for backwards compatibility.

[2020-01-15 01:08] alsoicode commented on #221
OK, sorry about that. I had loaded the wrong inline templates for Django 2 or higher. Version 2.2.3 is working for me with Django 2 & 3 and is available on PyPi.

[2020-01-27 08:52] ruslankrivoshein commented on #17
@izhukov1992, ну что же Вы?

[2020-01-27 09:08] izhukov1992 commented on #17
@ruslankrivoshein вот только недавно нашёл исходники проекта, где это использовал. Постараюсь добавить инфу.

[2020-02-28 21:55] liliserf opened #224 ""Staticfiles App" needs to be updated"
The link for the recommended staticfiles app in this section of the [readme](https://github.com/alsoicode/django-admin-sortable#static-media) links to a 404 page.

[2020-03-01 01:38] alsoicode commented on #224
Sorry about that. The files have been updated in the master branch.

[2020-03-01 01:38] #224 closed

[2020-03-01 17:27] alsoicode commented on #220
Fixed

[2020-03-01 17:27] #220 closed

[2020-03-01 17:27] #197 closed

[2020-07-29 10:08] andreymal opened #234 "Dragging works weird when there is only one child"
I make classic Category→Post hierarchy with Django 3.0 and django-admin-sortable 2.2.3, but when I'm trying to drag categories with one child, it looks weird and is not working.

It seems the "black" children should ignore dragging, but they don't ignore it.

![](https://i.imgur.com/avsm8db.gif)

[2020-08-01 13:21] alsoicode commented on #234
Hi @andreymal . I'm having some trouble replicating this behavior. Can you please send me your models / admin classes?

[2020-08-06 21:43] calliday opened #235 "Sorting cache issue"
As an example, my project has Recipes and Ingredients, with RecipeIngredients doing the many-to-many mapping between the two from Recipe.

I have added the tabular inline many-to-many sorting functionality referenced in the Readme, and it works great until I use the 'back' button.

If I reorder the ingredients on a recipe, save, then move back to the recipe via the 'back' button, the ingredients a

[2020-08-08 02:39] alsoicode commented on #235
Hi @calliday. Sorry for the slow reply, It's been a rough week. django-admin-sortable should be firing a POST request when the item is dropped, so even if you don't save the model, the order should be preserved.

django-admin-sortable doesn't officially support sorting on many-to-many relationships, so I'm not sure what exactly might be going on. If you can share your models/admin models with me,

[2020-08-09 04:45] blag commented on #17
Now that #232 is merged, I think this long-standing issue can be closed. Sortable many to many models are possible with this project, they just have to be made explicit.

However, for anybody in the future who stumbles across this comment, here is a current summary of other projects that I am aware of, and how they differ from this project:

The [django-sortedm2m project](https://github.com/jazzba

[2020-08-10 13:24] #17 closed

[2020-08-17 15:35] andreymal commented on #234
@alsoicode nothing special, just a regular parent-child structure. Reproducible on an empty django project

![](https://i.imgur.com/Rqd2CJo.png)

[2020-11-10 16:08] adi1 opened #236 "README.md saying to use version 2.1.8"
In the README.md, it says:

For Django 1.8.x < 3.0, use 2.1.8.

Is this supposed to say 2.1.18?

[2020-11-10 16:33] adi1 commented on #236
Sorry, I made a mistake, there are no missing js files in 2.1.8. The question still stands though, should we be using 2.1.18 or 2.1.8 as mentioned in the README?

[2020-11-16 09:01] michael-k opened #237 "Wheel for Python 3"
I've noticed that for versions [2.2](https://pypi.org/project/django-admin-sortable/2.2/#files) and [2.2.1](https://pypi.org/project/django-admin-sortable/2.2.1/#files) there's a wheel for Python 3 but not for Python 2 on PyPI.  And  for versions [2.2.2](https://pypi.org/project/django-admin-sortable/2.2.2/#files) and [2.2.3](https://pypi.org/project/django-admin-sortable/2.2.3/#files) it's the ot

[2020-11-16 18:31] alsoicode commented on #236
For Python less than version 3, you should be safe with 2.1.9

[2020-12-09 11:54] EnriqueSoria opened #239 "Does this work with `order_with_respect_to` Meta option?"
Does this work or is planned to work with [`order_with_respect_to`](https://docs.djangoproject.com/en/2.2/ref/models/options/#order-with-respect-to) Meta option?

[2020-12-09 13:49] alsoicode commented on #239
No. It only works with the field you define to order by.

[2020-12-09 13:49] #239 closed

[2021-02-01 19:00] bmihelac opened #240 "Creating object with always overrides sorted field value"
Hello everyone!

As the title says creating object always overrides sorted field value with current_max+1 (relevant code: https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/models.py#L91-L99).

While this is expected for object created through the admin interface it can be unexpected and undesired when creating object outside of the admin. Use case is for example, when li

[2021-02-01 19:20] alsoicode commented on #240
Your model should inherit the `SortableMixin` class to ensure new instances that are created get their `order` field incremented. That functionality doesn't only apply to Django Admin.

[2021-02-02 07:26] bmihelac commented on #240
@alsoicode thanks for quick answer - I am not sure if my report was understandable enough.
The problem, in my opinion is that value of sort order field is overwritten on object create. For example if we use example model from the README:

[code]

Running this code would create record and override `the_order` value. This could be undesirable if one want to insert record somewhere between.

[2021-02-02 13:26] alsoicode commented on #240
@bmihelac pull requests are always welcome if you want to come up with a strategy to handle this use case.

[2021-02-07 13:58] nishanthvijayan opened #241 "Seperate ordering in ChangeList view"
I have a model with `id` and `rank` attributes among others. `rank` is the column I'm using in Model.Meta.Ordering option for django-admin-sortable`.

I want the change_list view to list items ordered by `id` DESC by default. However, because I set `rank` as the ordering key, the items appear sorted by `rank` by default. Is there any way I can override this behaviour?

I tried keeping `ordering` i

[2021-02-09 11:21] bmihelac commented on #240
@alsoicode good, I'll prepare pull request soon

[2021-02-10 13:35] alsoicode commented on #241
My suggestion would be to do a custom change_list.

[2021-02-10 13:35] #241 closed

[2021-04-08 10:02] ChrisCrossCrash opened #242 "admin.SimpleListFilter not working on SortableAdmin"
I'm having some trouble getting the Django Admin's `SimpleListFilter` to work with `SortableAdmin`.

I've created a simple `models.py` and `admin.py` to demonstrate this.

The error happens when a user clicks on "Past" or "Upcoming" to filter the dates while they are on the "Sortable date" list page.

### models.py:
[code]
### admin.py
[code]
is `SortableAdmin` just not meant to be compatible with

[2021-04-08 13:09] alsoicode commented on #242
Morning @ChrisCrossCrash to be perfectly transparent and honest, I have no idea :)

I've been pretty far removed from any Python or Django development for several years. I'm super slammed, so I don't know when I'll be able to take a look at this. You might be able to get some help on Stack Overflow faster.

[2021-04-08 13:25] ChrisCrossCrash commented on #242
@alsoicode No worries! I'm just glad you got back to me so fast. I'll figure something else out for now.

Until then, I'd still love to hear from anybody else if they were able to resolve this issue themselves.

[2021-05-16 11:21] shahabsherveh opened #243 "Sample Project Not Working!"
When I try to change the "Credit" ordering of a "project" my browser prompts me the following error:

There are unsaved changes on this page. Please save your changes before reordering.

How can I solve this?

[2021-05-16 18:17] shahabsherveh commented on #243
No empty inline should exist. This solved my problem

[2021-05-16 18:17] #243 closed

[2021-07-13 11:12] ruohola commented on #243
Wondering why it even creates the empty inline there...

[2021-07-18 13:08] alsoicode commented on #237
First, my most sincere apologies for the inexcusable delay in responding to your request. Due to work and other extenuating circumstances, I have been unable to contribute to this project for a very long time.

I have pushed wheels for all of the 2.x versions out to PyPi, including 2.2.3 and 2.2.4.

[2021-07-18 13:09] #237 closed

[2021-07-18 13:09] #236 closed

[2021-07-18 13:09] #235 closed

[2021-07-18 13:10] #240 closed

[2021-07-18 13:10] #234 closed

[2021-09-24 10:58] cchacholiades opened #246 "Integrity Error, violates check constraint"
Hi @alsoicode, I have been using this package and so far I had no issues, fantastic stuff! 🙌

Some of the latest models I added throw an integrity error when I rearrange their items. I am having trouble getting past this issue..

Main difference I can think of is that these models have OneToOneFields but I don't know if that's related.

[code]

[code]

Any ideas/help? Thank you in advance.

[2021-09-28 07:24] zidingz opened #247 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@0xdhinu) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice

[2021-09-29 18:07] felipe3dfx commented on #246
Ensuring order doesn't have the minus sing

[code]

Good luck!

[2021-09-29 22:07] cchacholiades commented on #246
wow 🤯 @felipe3dfx thank you.

[2021-09-29 22:07] #246 closed

[2021-09-30 00:06] alsoicode commented on #246
@cchacholiades Sorry I wasn't able to get to you sooner. Thank you @felipe3dfx for helping out.

[2021-09-30 00:07] alsoicode commented on #247
@zidingz email me at alsoicode@gmail.com

[2021-12-15 16:13] camilonova opened #249 "Transfer to Jazzband"
Looking at https://github.com/alsoicode/django-admin-sortable/commit/b56ded8f0fab6a2790e52185e1b88ff78aad80bb

Would you consider moving this project to Jazzband?

You can start the process here: https://jazzband.co/about/guidelines

[2021-12-22 01:45] alsoicode commented on #249
What do I use for the organization name to transfer to? I tried "Jazzband", however the transfer button is still disabled.

[2021-12-22 14:01] camilonova commented on #249
maybe all lowercase? https://github.com/jazzband/

[2022-01-16 22:02] pakal opened #251 "Compatibility with djangoadmin_reorder"
Just in case someone stumbles on this :

the sorting page doesn't get updated by djangoadmin_reorder, because it uses direct render and not template reponse ;

so one should replace in dminsortable\admin.py :

`return render(request, self.sortable_change_list_template, context)`

with

`return TemplateResponse(request, self.sortable_change_list_template, context)`

to make everything work again

[2022-02-28 13:57] andylolz commented on #249
I think the button remains disabled until the second input is correctly populated.

The second input needs to contain:
[code]

[2022-03-01 20:51] jeruyyap opened #253 "Minor fix needed for setup.py for Windows environments."
There is minor issue with this package in Windows environments that causes installation to fail due to the encoding not being specified for the README file in setup.

A quick fix  that comes to mind for this would be to specify utf8 when opening the README in the setup.py:
`with open('README.rst', encoding='utf8') as readme_file:`

This seems to be an issue in 2.3.0 but not in 2.2.4.

[2022-03-11 12:36] DennisMatveyev opened #254 "The bug related to admin.sortable.tabular.inlines"
At the moment library does not allow sorting when tabular inline extra field is rendered. Extra field contains delete icon with html class attribute '.inline-deletelink' and the JS code in the library works incorrectly.
https://github.com/alsoicode/django-admin-sortable/blob/master/adminsortable/templates/adminsortable/edit_inline/admin.sortable.tabular.inlines.html#L22

[2022-03-13 00:05] alsoicode commented on #249
I'm getting this error: You don’t have the permission to create public repositories on jazzband

[2022-03-13 12:33] andylolz commented on #249
Oh, I see – Perhaps you first need to click “login to join” here: https://jazzband.co

[2022-03-13 18:51] jazzband-bot opened #255 "Implement Jazzband guidelines for django-admin-sortable"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-admin-sortable](https://github.com/jazzband/django-admin-sortable)

It was initiated by @alsoicode who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but f

[2022-03-13 18:51] #249 closed

[2022-03-23 08:44] kangelovv commented on #253
I hit this as well, on Debian Buster.

[2022-04-13 12:56] herrbenesch opened #256 "Uncaught error when using `SortableAdminBase` in admin view"
Hi, thank you for the great package!
we have the following setup in different admin views.

python version == 3.10.3
Django version ==  4.0.4
adminsortable version == 2.0.3

[code]

in the file `myapp/myadmin.py`

When visiting the **list view** for the concerned model, e.g. `myserver.com/admin/myapp/mymodel`, we are seeing the following issue (copied from the chrome dev tools):

[code]

adminsort

[2022-04-19 18:50] haakenlid commented on #208
Why is django-admin-sortable even parsing query parameters here? This happens when django-admin list view list-filter query parameters leaks into the ajax requests from django-admin-sortable. The ajax POST payload should be enough.

[2022-05-02 03:15] avelosa commented on #256
Seeing the same error.

python version == 3.9.11
Django version == 4.0.4
adminsortable2 version == 2.0.3

It's a little bit more of a pain for us because we have cypress ui automation tests that fail due to the console error.

FWIW I think the django admin list template not having an element with `id="admin_sortable2_config"`. In the JavaScript class `SortableBase` the constructor  does `this.conf

[2022-05-02 07:37] jrief commented on #256
This is the wrong issue tracker.
As @avelosa mentioned, this error belongs to https://github.com/jrief/django-admin-sortable2/issues/309

[2022-05-19 13:17] herrbenesch commented on #256
Closed via https://github.com/jrief/django-admin-sortable2/issues/309

[2022-05-19 13:17] #256 closed, assigned to nobody

[2022-07-08 17:59] maxi-89 opened #257 "nested inlines with SortableTabularInline"
hi people, i had this code:

`
[code]

`

so, i want to drag and drop my ReportSectionFields . This is my new code:

`
[code]
`

but now, i cant see in django-admin-panel the ReportSectionFieldInline i just see ReportAdmin and ReportSectionInline. How can i order this fields when i m working when 2 levels of nested objects?

before:
![image](https://user-images.githubusercontent.com/48003152/17804

[2022-08-01 04:08] khyer commented on #254
Would love to see a better way to detect unsaved changes in general. I use an additional Django admin plugin (django-better-admin-arrayfield) which renders icons with that class, and the mere existence of the icons on the page prevent this plugin from working.

[2022-08-18 13:28] cchacholiades commented on #242
Same issue here @ChrisCrossCrash. How did you end up solving this?

[2022-08-18 19:00] ChrisCrossCrash commented on #242
@cchacholiades Unfortunately I didn't. IIRC I just sorted the JSON data in my front end app by date.

[2022-08-27 03:54] sothea-beniten opened #258 "Unable to install version 2.3"
I'm trying to upgrade admin-sortable from version 2.2 to 2.3 but I got an issued **UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 2883: character maps to <undefined>** .

Here is the full log when I install latest version
[code]

[2022-10-28 06:17] LEAGUEDORA commented on #258
You can use my forked & fixed repo.
To install use ```git clone git+https://github.com/LEAGUEDORA/django-admin-sortable.git```

[2022-11-28 22:37] jej commented on #243
For people having this problem, you can solve it by adding `extra = 0` in your admin class:

[code]

Maybe the doc should specify this?

Hope it helps,
J.